@model MyTime.Models.UserModel

@{
    ViewBag.Title = MyTime.Resource.User + " :: " + MyTime.Resource.Delete;
    Layout = null;
}

<div class="modal-content">
    <div id="divForm" class="d-flex justify-content-center">

        <div class="card shadow" style="width:496px;">
            <div class="card-header bg-danger text-white">
                <h6> @ViewBag.Title</h6>
            </div>
            <div class="card-body">

                @using (Ajax.BeginForm(null, null, new AjaxOptions
                {
                    InsertionMode = InsertionMode.Replace,
                    AllowCache = false,
                    HttpMethod = "POST",
                    OnSuccess = "onSuccessProcess",
                    UpdateTargetId = "divCRUD",
                    LoadingElementId = "divSpinner",

                },
                new { @id = "formDelete" }
                ))
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">


                        @Html.HiddenFor(model => model.USRID)


                        <div class="form-group row">
                            @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-md-12" })

                            <div class="col-md-12">
                                @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                            </div>
                        </div>

                        <div class="form-group row">
                            @Html.LabelFor(model => model.NRIC, htmlAttributes: new { @class = "control-label col-md-12" })
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.NRIC, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                            </div>
                        </div>




                        <div class="form-group row">
                            @Html.LabelFor(model => model.Gender, htmlAttributes: new { @class = "control-label col-md-12" })

                            <div class="col-md-12">
                                @Html.EditorFor(model => model.Gender, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                            </div>

                        </div>

                        <div class="form-group row">
                            @Html.LabelFor(model => model.ContactNo, htmlAttributes: new { @class = "control-label col-md-12" })

                            <div class="col-md-12">
                                @Html.EditorFor(model => model.ContactNo, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                            </div>
                        </div>

                        <div class="form-group row">
                            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-12" })

                            <div class="col-md-12">
                                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                            </div>
                        </div>

                        @Html.HiddenFor(model => model.DepartmentID)

                        <div class="form-group row">

                            @Html.LabelFor(model => model.DepartmentID, htmlAttributes: new { @class = "control-label col-md-12" })

                            <div class="col-md-12">
                                @Html.EditorFor(model => model.DepartmentName, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                            </div>

                        </div>

                        @Html.HiddenFor(model => model.UnitID)

                        <div class="form-group row">

                            @Html.LabelFor(model => model.UnitName, htmlAttributes: new { @class = "control-label col-md-12" })

                            <div class="col-md-12">
                                @Html.EditorFor(model => model.UnitName, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                            </div>

                        </div>

                        <div class="form-group row">
                            @Html.LabelFor(model => model.Designation, htmlAttributes: new { @class = "control-label col-md-12" })

                            <div class="col-md-12">
                                @Html.EditorFor(model => model.Designation, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                            </div>
                        </div>

                        <div class="form-group row">
                            @Html.LabelFor(model => model.Grade, htmlAttributes: new { @class = "control-label col-md-12" })

                            <div class="col-md-12">
                                @Html.EditorFor(model => model.Grade, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                            </div>
                        </div>


                        @Html.HiddenFor(model => model.RoleID)

                        <div class="form-group row">
                            @Html.LabelFor(model => model.RoleName, htmlAttributes: new { @class = "control-label col-md-12" })

                            <div class="col-md-12">
                                @Html.EditorFor(model => model.RoleName, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                            </div>
                        </div>


                        @Html.HiddenFor(model => model.ShiftID)

                        <div class="form-group row">
                            @Html.LabelFor(model => model.ShiftName, htmlAttributes: new { @class = "control-label col-md-12" })

                            <div class="col-md-12">
                                @Html.EditorFor(model => model.ShiftName, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-4">
                                @Html.LabelFor(model => model.IsResigned, htmlAttributes: new { @class = "control-label" })
                                @Html.CheckBoxFor(model => model.IsResigned, new { @onclick = "return false", htmlAttributes = new { @class = "form-control" } })
                            </div>

                            @if (!Model.IsResigned.Equals(false))
                            {
                                <div class="col-md-1" id="divResignedOnLabel" style="display:block;">
                                    @Html.LabelFor(model => model.ResignedOn, htmlAttributes: new { @class = "control-label" })
                                </div>
                                <div class="col-md-7" id="divResignedOn" style="display:block;">
                                    @Html.EditorFor(model => model.ResignedOn, new { htmlAttributes = new { @class = "form-control datepicker", @readonly = "readonly" } })
                                </div>
                            }
                            else
                            {
                                @Html.HiddenFor(model => model.ResignedOn)
                            }

                        </div>

                        @Html.HiddenFor(model => model.AccessRoleID)

                        <div class="form-group row">

                            @Html.LabelFor(model => model.AccessRoleName, htmlAttributes: new { @class = "control-label col-md-12" })

                            <div class="col-md-12">
                                @Html.EditorFor(model => model.AccessRoleName, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                            </div>

                        </div>


                        <div class="form-group row">
                            <div class="col-md-12 text-right">
                                <input type="submit" value="@MyTime.Resource.Delete" class="btn btn-danger" />
                                <input id="btnCancel" type="button" value="@MyTime.Resource.Cancel" class="btn btn-warning" />
                            </div>
                        </div>

                    </div>

                }

            </div>

        </div>

    </div>
</div>
