@model MyTime.ViewModels.ApproverViewModel

@{
    ViewBag.Title = MyTime.Resource.Approver + " :: " + MyTime.Resource.SelectUser;
    Layout = null;
}


<div class="modal" tabindex="-1" role="dialog" id="modalNewApproverUser">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@ViewBag.Title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="form-horizontal">

                    @Html.HiddenFor(model=>model.ApproverModel.ApproverNRIC, htmlAttributes: new { @id="approverNRIC"})
                                  
                    <div class="form-group row">
                        <div class="col-md-12">

                            <table id="listNewApproverUserDatatable" class="table table-striped hover" style="table-layout: fixed;">
                                <thead>
                                    <tr class="text-white header-bg-color">
                                        <th><input type="checkbox" id="selectAll"></th>
                                        <th>@MyTime.Resource.UserName</th>
                                        <th>@MyTime.Resource.NRIC</th>
                                        <th>@MyTime.Resource.DepartmentName</th>
                                        <th>@MyTime.Resource.UnitName</th>
                                    </tr>
                                </thead>
                            </table>


                        </div>
                    </div>

                </div>

            </div>

            <div class="modal-footer">
                <button type="button" id="btnUpdate" class="btn btn-primary">@MyTime.Resource.Update</button>
                <button type="button" class="btn btn-warning" data-dismiss="modal">@MyTime.Resource.Cancel</button>
            </div>
        </div>
    </div>
</div>

