@model MyTime.ViewModels.SystemViewModel

@{
    ViewBag.Title = MyTime.Resource.System;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="divForm" class="d-flex justify-content-center">

    <div class="card shadow" style="width:496px;">
        <div class="card-header bg-transparent">
            <h6> @ViewBag.Title </h6>
        </div>
        <div class="card-body">

            @using (Ajax.BeginForm(null, null, new AjaxOptions
            {
                InsertionMode = InsertionMode.Replace,
                AllowCache = false,
                HttpMethod = "POST",
                OnSuccess = "onSuccessProcess",
                UpdateTargetId = "divForm",
                LoadingElementId = "divSpinner",

            },
            new { @id = "formUpadte", enctype = "multipart/form-data" }
            ))
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">

                    @*@Html.ValidationSummary(true, "", new { @class = "text-danger" })*@

                    <div class="form-group row">
                        @Html.LabelFor(model => model.SystemModel.OrganisationName, htmlAttributes: new { @class = "control-label col-md-12 required" })
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.SystemModel.OrganisationName, new { htmlAttributes = new { @class = "form-control", autocomplete = "off" } })
                            @Html.ValidationMessageFor(model => model.SystemModel.OrganisationName, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group row">
                        @Html.LabelFor(model => model.SystemModel.OrganisationShortName, htmlAttributes: new { @class = "control-label col-md-12 required" })
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.SystemModel.OrganisationShortName, new { htmlAttributes = new { @class = "form-control", autocomplete = "off" } })
                            @Html.ValidationMessageFor(model => model.SystemModel.OrganisationShortName, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group row" style="display:none;">
                        @Html.LabelFor(model => model.SystemModel.OrganisationLogo, htmlAttributes: new { @class = "control-label col-md-12 required" })

                        <div class="col-md-12">
                            @Html.EditorFor(model => model.SystemModel.OrganisationLogo, new { htmlAttributes = new { @class = "form-control", autocomplete = "off", @readonly = "readonly" } })
                        </div>
                    </div>

                    <div class="form-group row" style="display:none;">
                        <div class="col-md-12">
                            @*<input type="file" name="OrganisationLogoFile" id="OrganisationLogoFile" />*@
                            @Html.TextBoxFor(model => model.SystemModel.PostedOrganisationLogo, new { type = "file" })
                            @Html.ValidationMessageFor(model => model.SystemModel.PostedOrganisationLogo, "", new { @class = "error" })
                        </div>
                    </div>

                    <div class="form-group row" style="display:none;">

                        @Html.LabelFor(model => model.SystemModel.DefaultRoleID, htmlAttributes: new { @class = "control-label col-md-12 required" })

                        <div class="col-md-12">
                            @Html.DropDownListFor(model => model.SystemModel.DefaultRoleID, Model.SelectListRole as List<SelectListItem>, MyTime.Resource.PleaseSelect, htmlAttributes: new { id = "ddlRole", @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.SystemModel.DefaultRoleID, "", new { @class = "text-danger" })
                        </div>

                    </div>

                    <div class="form-group row" style="display:none;">

                        @Html.LabelFor(model => model.SystemModel.DefaultShiftID, htmlAttributes: new { @class = "control-label col-md-12 required" })

                        <div class="col-md-12">
                            @Html.DropDownListFor(model => model.SystemModel.DefaultShiftID, Model.SelectListShift as List<SelectListItem>, MyTime.Resource.PleaseSelect, htmlAttributes: new { id = "ddlShift", @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.SystemModel.DefaultShiftID, "", new { @class = "text-danger" })
                        </div>

                    </div>

                    <div class="form-group row">

                        @Html.LabelFor(model => model.SystemModel.ReasonSubmissionPeriod, htmlAttributes: new { @class = "control-label col-md-12 required" })

                        <div class="col-md-12">
                            @Html.EditorFor(model => model.SystemModel.ReasonSubmissionPeriod, new { htmlAttributes = new { @class = "form-control", @min = "0", @max = "365" } })
                            @Html.ValidationMessageFor(model => model.SystemModel.ReasonSubmissionPeriod, "", new { @class = "text-danger" })
                        </div>

                    </div>


                    <div class="form-group row" style="display:none;">

                        @Html.LabelFor(model => model.SystemModel.DefaultAccessRoleID, htmlAttributes: new { @class = "control-label col-md-12 required" })

                        <div class="col-md-12">
                            @Html.DropDownListFor(model => model.SystemModel.DefaultAccessRoleID, Model.SelectListAccessRole as List<SelectListItem>, MyTime.Resource.PleaseSelect, htmlAttributes: new { id = "ddlAccessRole", @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.SystemModel.DefaultAccessRoleID, "", new { @class = "text-danger" })
                        </div>

                    </div>

                    <div class="form-group row">

                        <div class="col-md-12 text-right">
                            <input type="submit" value="@MyTime.Resource.Save" class="btn btn-primary" />
                            <input id="btnCancel" type="button" value="@MyTime.Resource.Cancel" class="btn btn-warning" />
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-md-12 text-left">
                            @MyTime.Resource.Version : 1.0.4 (Built : 211201)
                        </div>
                    </div>

                </div>

            }

        </div>

    </div>

</div>

<button type="button" id="btnToggleMessageModal" class="btn btn-primary" style="visibility:hidden;" data-toggle="modal" data-target="#messageModal">
</button>

<div class="modal fade" id="messageModal" tabindex="-1" role="Dialog">

    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@MyTime.Resource.MessageInfo</h5>
                @*<button type="button" id="btnCloseMessageModal" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>*@
            </div>
            <div class="modal-body">
                <p><label id="lblMessage"></label></p>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnCloseMessageModal" class="btn btn-primary" data-dismiss="modal">@MyTime.Resource.Close</button>
            </div>
        </div>
    </div>

</div>


@section styles {
    <link rel="stylesheet" href="~/Content/themes/base/jquery-ui.min.css">
}

@section Scripts{

    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script src="~/Scripts/moment.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    @*@Scripts.Render("~/bundles/custom-js")*@

    <script type="text/javascript">

        $(document).ready(function () {

            //toggleSidebar();
            unloadSpinner();
            showDivBody();

            var btn = document.getElementById('btnToggleMessageModal');
            btn.innerText = '2';

                $('#btnCancel').on('click', function () {
                     history.go(-1);
                });

              $('#btnCloseMessageModal').on('click', function () {
                    var url = '@Url.Action("Index","home")';
                    window.location.href = url;
              });

        });


        function onSuccessProcess(result, status, xhr) {

            if (result.status == 1) {

                unloadSpinner();

                var btn = document.getElementById('btnToggleMessageModal');
                var lbl = document.getElementById('lblMessage');

                switch (btn.textContent.trim()) {
                    case '1':
                        lbl.innerText = '@MyTime.Resource.MessageSuccessCreate';
                        break;
                    case '2':
                        lbl.innerText = '@MyTime.Resource.MessageSuccessUpdate';
                        break;
                    default:
                        lbl.innerText = '@MyTime.Resource.MessageSuccessCreate';
                        break;
                };

                $('#btnToggleMessageModal').click();

            }

        };

    </script>
}



