@model MyTime.Models.ReasonModel

@{
    ViewBag.Title = MyTime.Resource.Reason + " :: " + MyTime.Resource.Create;
    Layout = null;
}

<div class="modal-content">
    <div id="divForm" class="d-flex justify-content-center">

        <div class="card shadow" style="width:496px;">
            <div class="card-header bg-transparent">
                <h6> @ViewBag.Title </h6>
            </div>
            <div class="card-body">

                @using (Ajax.BeginForm(null, null, new AjaxOptions
                {
                    InsertionMode = InsertionMode.Replace,
                    AllowCache = false,
                    HttpMethod = "POST",
                    OnSuccess = "onSuccessProcess",
                    UpdateTargetId = "divCRUD",
                    LoadingElementId = "divSpinner",

                },
                new { @id = "formCreate" }
                ))
                {
                    @Html.AntiForgeryToken()


                    <div class="form-horizontal">
                        @*@Html.ValidationSummary(true, "", new { @class = "text-danger" })*@

                        <div class="form-group row">
                            @Html.LabelFor(model => model.ReasonID, htmlAttributes: new { @class = "control-label col-md-12" })
                            <div class="col-md-12">
                                @Html.EditorFor(model => model.ReasonID, new { htmlAttributes = new { @class = "form-control", autocomplete = "off", @style = "width:100% !important;" } })
                                @Html.ValidationMessageFor(model => model.ReasonID, "", new { @class = "text-danger" })

                            </div>
                        </div>

                        <div class="form-group row">

                            @Html.LabelFor(model => model.ReasonName, htmlAttributes: new { @class = "control-label col-md-12" })

                            <div class="col-md-12">
                                @Html.EditorFor(model => model.ReasonName, new { htmlAttributes = new { @class = "form-control", autocomplete = "off" } })
                                @Html.ValidationMessageFor(model => model.ReasonName, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-12">
                                @MyTime.Resource.ReasonFor :
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-12 d-flex">
                                <div>
                                    @Html.CheckBoxFor(model => model.IsForLateIn, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.LabelFor(model => model.IsForLateIn, htmlAttributes: new { @class = "control-label" })
                                </div>
                                <div class="pl-2">
                                    @Html.CheckBoxFor(model => model.IsForEarlyOut, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.LabelFor(model => model.IsForEarlyOut, htmlAttributes: new { @class = "control-label" })
                                </div>
                                <div class="pl-2">
                                    @Html.CheckBoxFor(model => model.IsForIncomplete, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.LabelFor(model => model.IsForIncomplete, htmlAttributes: new { @class = "control-label" })
                                </div>
                                <div class="pl-2">
                                    @Html.CheckBoxFor(model => model.IsForAbsent, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.LabelFor(model => model.IsForAbsent, htmlAttributes: new { @class = "control-label" })
                                </div>
                                <div class="pl-2">
                                    @Html.CheckBoxFor(model => model.IsForOnLeave, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.LabelFor(model => model.IsForOnLeave, htmlAttributes: new { @class = "control-label" })
                                </div>
                            </div>
                        </div>

                        @*<div class="form-group row">
                                <div class="col-md-12">
                                    @Html.LabelFor(model => model.IsForLateIn, htmlAttributes: new { @class = "control-label" })
                                    @Html.CheckBoxFor(model => model.IsForLateIn, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                                <div class="col-md-12">
                                    @Html.LabelFor(model => model.IsForEarlyOut, htmlAttributes: new { @class = "control-label" })
                                    @Html.CheckBoxFor(model => model.IsForEarlyOut, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                                <div class="col-md-12">
                                    @Html.LabelFor(model => model.IsForAbsent, htmlAttributes: new { @class = "control-label" })
                                    @Html.CheckBoxFor(model => model.IsForAbsent, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                                <div class="col-md-12">
                                    @Html.LabelFor(model => model.IsForOnLeave, htmlAttributes: new { @class = "control-label" })
                                    @Html.CheckBoxFor(model => model.IsForOnLeave, new { htmlAttributes = new { @class = "form-control" } })
                                </div>
                            </div>*@

                        <div class="form-group row">
                            <div class="col-md-12">
                                @Html.LabelFor(model => model.IsActivated, htmlAttributes: new { @class = "control-label" })
                                @Html.CheckBoxFor(model => model.IsActivated, new { htmlAttributes = new { @class = "form-control" } })
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-12 text-right">
                                <input type="submit" value="@MyTime.Resource.Save" class="btn btn-primary" />
                                <input id="btnCancel" type="button" value="@MyTime.Resource.Cancel" class="btn btn-warning" />
                            </div>
                        </div>

                    </div>


                }

            </div>

        </div>

    </div>
</div>

