<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>

    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/custom-css")
    @Styles.Render("~/Content/themes/base/css")

    <link rel="stylesheet" type="text/css" href="~/Content/icofont.min.css">

    <link rel="shortcut icon" type="image/ico" href=@String.Format( "Images/{0}", Session["OrganisationLogo"])>

</head>
<body>

    <div id="divSpinner" class="container">
        <div class="spinner-border text-success" role="status">
            <span class="sr-only">Loading...</span>
        </div>
        <div class="text-center">@MyTime.Resource.ApplicationName</div>
    </div>

    <div id="divBody" class="container-fluid p-0">

        <div class="wrapper">
            <nav id="sidebar">
                <div class="sidebar-header pt-2 pb-2">

                    <div class="row">
                        <div class="col-md-12 text-center">
                            @*<img src=@String.Format("../Images/{0}", Session["OrganisationLogo"]) width="40" height="40" />*@
                            <img src=@String.Format("../Images/{0}", "KBS.png") width="38" height="38" />
                        </div>
                    </div>

                </div>

                <ul class="list-unstyled components">

                    <li>
                        @if (Model.UserAccessControlModel.IsAllowedDashboard.Equals(true))
                        {

                            <a href="#" id="linkHome">
                                <div class="d-flex">
                                    <i class="fa fa-home pr-1" style="font-size:20px; width:25px;"></i>
                                    @MyTime.Resource.Home
                                </div>
                            </a>

                        }

                        @if (Model.UserAccessControlModel.IsAllowedAttendance.Equals(true))
                        {

                            <a href="#" id="linkAttendance">
                                <div class="d-flex">
                                    <i class="fa fa-clock-o pr-1" style="font-size:20px; width:25px;"></i>
                                    @MyTime.Resource.AttendanceIndividual
                                </div>
                            </a>

                        }

                        @if (Model.UserAccessControlModel.IsAllowedApproveReason.Equals(true))
                        {

                            <a href="#" id="linkReasonApproval">
                                <div class="d-flex">
                                    <i class="fa fa-pencil-square-o pr-1" style="font-size:20px; width:25px;"></i>
                                    @MyTime.Resource.ReasonApproval
                                </div>
                            </a>

                        }

                        @if (Model.UserAccessControlModel.IsAllowedAnnouncement.Equals(true))
                        {

                            <a href="#" id="linkAnnouncement">
                                <div class="d-flex">
                                    <i class="fa fa-bullhorn pr-1" style="font-size:20px; width:25px;"></i>
                                    @MyTime.Resource.Announcement
                                </div>
                            </a>

                        }

                        @if (Model.UserAccessControlModel.IsAllowedSystemSetting.Equals(true))
                        {
                            <a href="#settingSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                                <div class="d-flex">
                                    <i class="fa fa-wrench pr-1" style="font-size:20px; width:25px;"></i> @MyTime.Resource.SystemSetting
                                </div>
                            </a>
                            <ul class="collapse list-unstyled" id="settingSubmenu">

                                <li>
                                    <a href="#" id="linkSystem">
                                        @MyTime.Resource.System
                                    </a>
                                </li>


                                <li>
                                    <a href="#" id="linkRole">
                                        @MyTime.Resource.Role
                                    </a>
                                </li>


                                <li>
                                    <a href="#" id="linkUserAccessControl">
                                        @MyTime.Resource.UserAccessControl
                                    </a>
                                </li>


                                <li>
                                    <a href="#" id="linkReason">
                                        @MyTime.Resource.Reason
                                    </a>
                                </li>

                            </ul>
                        }

                        @if (Model.UserAccessControlModel.IsAllowedDevice.Equals(true))
                        {
                            <a href="#deviceSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                                <div class="d-flex">
                                    <i class="fa fa-tablet pr-1" style="font-size:20px; width:25px;"></i> @MyTime.Resource.Device
                                </div>
                            </a>
                            <ul class="collapse list-unstyled" id="deviceSubmenu">

                                <li>
                                    <a href="#" id="linkAccessRole">
                                        @MyTime.Resource.AccessRole
                                    </a>
                                </li>

                            </ul>
                        }

                        @if (Model.UserAccessControlModel.IsAllowedOrganisation.Equals(true))
                        {
                            <a href="#organisationSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                                <div class="d-flex">
                                    <i class="fa fa-sitemap pr-1" style="font-size:20px; width:25px;"></i> @MyTime.Resource.Organisation
                                </div>
                            </a>
                            <ul class="collapse list-unstyled" id="organisationSubmenu">

                                <li>
                                    <a href="#" id="linkDepartment">
                                        @MyTime.Resource.Department
                                    </a>
                                </li>
                                <li>
                                    <a href="#" id="linkUnit">
                                        @MyTime.Resource.Unit
                                    </a>
                                </li>
                            </ul>
                        }

                        @if (Model.UserAccessControlModel.IsAllowedUser.Equals(true))
                        {
                            <a href="#userSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                                <div class="d-flex">
                                    <i class="fa fa-users pr-1" style="font-size:20px; width:25px;"></i> @MyTime.Resource.User
                                </div>
                            </a>
                            <ul class="collapse list-unstyled" id="userSubmenu">

                                <li>
                                    <a href="#" id="linkUser">
                                        @MyTime.Resource.User
                                    </a>
                                </li>

                                <li>
                                    <a href="#" id="linkReportAdmin">
                                        @MyTime.Resource.ReportAdmin
                                    </a>
                                </li>

                                <li>
                                    <a href="#" id="linkApprover">
                                        @MyTime.Resource.Approver
                                    </a>
                                </li>

                            </ul>
                        }

                        @if (Model.UserAccessControlModel.IsAllowedShiftSchedule.Equals(true))
                        {
                            <a href="#shiftscheduleSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                                <div class="d-flex">
                                    <i class="fa fa-calendar-o pr-1" style="font-size:20px; width:25px;"></i> @MyTime.Resource.ShiftSchedule
                                </div>
                            </a>
                            <ul class="collapse list-unstyled" id="shiftscheduleSubmenu">

                                <li>
                                    <a href="#" id="linkHoliday">
                                        @MyTime.Resource.Holiday
                                    </a>
                                </li>


                                <li>
                                    <a href="#" id="linkShift">
                                        @MyTime.Resource.Shift
                                    </a>
                                </li>

                                <li>
                                    <a href="#" id="linkShiftSchedule">
                                        @MyTime.Resource.ShiftSchedule
                                    </a>
                                </li>

                            </ul>
                        }

                        @if (Model.UserAccessControlModel.IsAllowedPrintReport.Equals(true))
                        {
                            <a href="#reportSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                                <div class="d-flex">
                                    <i class="fa fa-file-text-o pr-1" style="font-size:20px; width:25px;"></i> @MyTime.Resource.Report
                                </div>
                            </a>
                            <ul class="collapse list-unstyled" id="reportSubmenu">

                                <li>
                                    <a href="#" id="linkDailyAttendanceRecord">
                                        @MyTime.Resource.DailyAttendanceRecord
                                    </a>
                                </li>

                                <li>
                                    <a href="#" id="linkIndividualAttendanceHistoryReport">
                                        @MyTime.Resource.IndividualAttendanceHistoryReport
                                    </a>
                                </li>

                                <li>
                                    <a href="#" id="linkDepartmentAttendanceHistoryReport">
                                        @MyTime.Resource.DepartmentAttendanceHistoryReport
                                    </a>
                                </li>

                                <li>
                                    <a href="#" id="linkAttendanceCardReport">
                                        @MyTime.Resource.AttendanceCardReport
                                    </a>
                                </li>

                                <li>
                                    <a href="#" id="linkAttendanceCardSummaryReport">
                                        @MyTime.Resource.AttendanceCardSummaryReport
                                    </a>
                                </li>

                                <li>
                                    <a href="#" id="linkDepartmentAttendanceDailySummary">
                                        @MyTime.Resource.DepartmentAttendanceDailySummary
                                    </a>
                                </li>

                                <li>
                                    <a href="#" id="linkAttendanceReport">
                                        @MyTime.Resource.AttendanceReport
                                    </a>
                                </li>

                                <li>
                                    <a href="#" id="linkAttendanceSummaryReport">
                                        @MyTime.Resource.AttendanceSummaryReport
                                    </a>
                                </li>

                                <li>
                                    <a href="#" id="linkAttendanceAnalysis">
                                        @MyTime.Resource.AttendanceAnalysis
                                    </a>
                                </li>

                                <li>
                                    <a href="#" id="linkAttendanceStatistics">
                                        @MyTime.Resource.AttendanceStatistics
                                    </a>
                                </li>

                                <li>
                                    <a href="#" id="linkDepartmentUserCountReport">
                                        @MyTime.Resource.DepartmentUserCountReport
                                    </a>
                                </li>


                            </ul>
                        }

                        @if (Model.UserAccessControlModel.IsAllowedContactUs.Equals(true))
                        {

                            <a href="#" id="linkContactUs">
                                <div class="d-flex">
                                    <i class="fa fa-phone pr-1" style="font-size:20px; width:25px;"></i>
                                    @MyTime.Resource.ContactUs
                                </div>
                            </a>

                        }

                    </li>

                </ul>
            </nav>

            <div id="content" class="p-0">

                <div id="divTopBar">

                    <nav class="navbar navbar-expand-lg navbar-light m-0 top-navbar-bg-color">

                        <div class="d-flex justify-content-start align-items-center" style="width:50%;">
                            <button type="button" id="sidebarCollapse" class="btn" style="color:white; font-size:16px; background:unset; outline:none;">
                                <i class="fa fa-bars"></i>
                            </button>

                            @Html.Label(String.Format("{0}", Session["OrganisationName"]), htmlAttributes: new { @class = "control-label col-md-12 text-white", @style = "font-size:18px;" })

                        </div>

                        <div class="d-flex justify-content-end align-items-center" style="width:50%;">

                            <div class="dropdown">

                                <a class="nav-link text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background:unset;">
                                    <i class="fa fa-user-circle-o" style="font-size:20px; width:25px;"></i>
                                    @ViewBag.UserDetail
                                    <i class="fa fa-caret-down"></i>
                                </a>

                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" id="divChangePassword" href="#">@MyTime.Resource.ChangePassword</a>
                                    <a class="dropdown-item" id="divPersonalProfile" href="#">@MyTime.Resource.PersonalProfile</a>
                                    <a class="dropdown-item" id="divLogout" href="#">@MyTime.Resource.Logout</a>
                                </div>

                            </div>

                        </div>
                    </nav>


                </div>





                <div class="main bg-black">

                    <div id="divAjaxUpdate" class="pt-3">

                        @RenderBody()

                    </div>

                </div>


            </div>

        </div>
    </div>

    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/custom-js")

<script type="text/javascript">

        $(document).ready(function () {

            $("#sidebarCollapse").on('click', function () {

                $("#sidebar").toggleClass('active');

            });

            unloadSpinner();

              $('#divChangePassword').on('click', function () {
                    window.location.href = '@Url.Action("ChangePassword","User")';
                    return false;
                });

               $('#divPersonalProfile').on('click', function () {
                    window.location.href = '@Url.Action("PersonalProfile","User")';
                    return false;
                });

                $('#divLogout').on('click', function () {
                    window.location.href = '@Url.Action("Index","Auth")';
                    return false;
                });

                $('#linkHome').on('click', function () {
                    window.location.href = '@Url.Action("Index","Home")';
                    return false;
                });

                $('#linkAttendance').on('click', function () {
                    window.location.href = '@Url.Action("Index", "Attendance")';
                    return false;
                });

               $('#linkReasonApproval').on('click', function () {
                    window.location.href = '@Url.Action("Index", "ReasonApproval")';
                    return false;
                });

                $('#linkAnnouncement').on('click', function () {
                    window.location.href = '@Url.Action("Index", "Announcement")';
                    return false;
                });

                $('#linkHoliday').on('click', function () {
                      window.location.href = '@Url.Action("Index","Holiday")';
                      return false;
                });

               $('#linkDepartment').on('click', function () {
                      window.location.href = '@Url.Action("Index","Department")';
                      return false;
               });

               $('#linkUnit').on('click', function () {
                      window.location.href = '@Url.Action("Index","Unit")';
                      return false;
               });

              $('#linkRole').on('click', function () {
                      window.location.href = '@Url.Action("Index","Role")';
                      return false;
              });

              $('#linkReason').on('click', function () {
                      window.location.href = '@Url.Action("Index","Reason")';
                      return false;
              });


              $('#linkShift').on('click', function () {
                      window.location.href = '@Url.Action("Index","Shift")';
                      return false;
              });

              $('#linkShiftSchedule').on('click', function () {
                      window.location.href = '@Url.Action("Index", "ShiftSchedule")';
                      return false;
              });

             $('#linkUser').on('click', function () {
                      window.location.href = '@Url.Action("Index","User")';
                      return false;
             });

             $('#linkUserAccessControl').on('click', function () {
                      window.location.href = '@Url.Action("Index","UserAccessControl")';
                      return false;
             });

             $('#linkSystem').on('click', function () {
                      window.location.href = '@Url.Action("Index","System")';
                      return false;
             });

               $('#linkAccessRole').on('click', function () {
                      window.location.href = '@Url.Action("Index","AccessRole")';
                      return false;
              });

             $('#linkApprover').on('click', function () {
                      window.location.href = '@Url.Action("Index","Approver")';
                      return false;
             });

              $('#linkReportAdmin').on('click', function () {
                      window.location.href = '@Url.Action("Index","ReportAdmin")';
                      return false;
              });

            $('#linkDailyAttendanceRecord').on('click', function () {
                      window.location.href = '@Url.Action("Index","DailyAttendanceRecord")';
                      return false;
            });

            $('#linkIndividualAttendanceHistoryReport').on('click', function () {
                      window.location.href = '@Url.Action("Index", "IndividualAttendanceHistoryReport")';
                      return false;
            });

            $('#linkDepartmentAttendanceHistoryReport').on('click', function () {
                      window.location.href = '@Url.Action("Index", "DepartmentAttendanceHistoryReport")';
                      return false;
            });


            $('#linkAttendanceCardReport').on('click', function () {
                      window.location.href = '@Url.Action("Index", "AttendanceCardReport")';
                      return false;
            });

            $('#linkAttendanceCardSummaryReport').on('click', function () {
                      window.location.href = '@Url.Action("Index", "AttendanceCardSummaryReport")';
                      return false;
            });

            $('#linkDepartmentAttendanceDailySummary').on('click', function () {
                      window.location.href = '@Url.Action("Index", "DepartmentAttendanceDailySummary")';
                      return false;
            });

            $('#linkAttendanceReport').on('click', function () {
                      window.location.href = '@Url.Action("Index", "AttendanceReport")';
                      return false;
            });

            $('#linkAttendanceSummaryReport').on('click', function () {
                      window.location.href = '@Url.Action("Index", "AttendanceSummaryReport")';
                      return false;
            });

            $('#linkAttendanceAnalysis').on('click', function () {
                      window.location.href = '@Url.Action("Index", "AttendanceAnalysis")';
                      return false;
            });

            $('#linkAttendanceStatistics').on('click', function () {
                      window.location.href = '@Url.Action("Index", "AttendanceStatistics")';
                      return false;
            });

            $('#linkDepartmentUserCountReport').on('click', function () {
                      window.location.href = '@Url.Action("Index", "DepartmentUserCountReport")';
                      return false;
            });


             $('#linkContactUs').on('click', function () {
                      window.location.href = '@Url.Action("ContactUs","Home")';
                      return false;
             });


        });

</script>


    @RenderSection("styles", required: false)
    @RenderSection("scripts", required: false)

</body>
</html>
