@model MyTime.Models.UserModel

@{
    string userDetail;
    Layout = null;
}

<div>
    <nav class="navbar navbar-expand-lg navbar-light bg-dark m-0">
        <div class="container-fluid">
           
            <div class="row text-right text-white">
                <div class="col">

                    <a href="/home/logout" data-toggle="dropdown" aria-expanded="false">

                        <i class="fa fa-user-circle-o" style="font-size:20px;"></i>

                        @if (!Model.RoleName.Equals(DBNull.Value))
                        {
                            userDetail = string.Format("{0} ( {1} )", Model.UserName, Model.RoleName);

                        }
                        else
                        {
                            userDetail = string.Format("{0}", Model.UserName);
                        }

                        @Html.Label(userDetail)

                        <i class="fa fa-caret-down"></i>
                       
                    </a>

                    <div class="dropdown">
                        <div class="dropdown-menu">
                            <div id="logoutDiv" class="dropdown-item" style="font-size:12px;">
                                @MyTime.Resource.Logout
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </nav>

    @section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/custom-js")

<script type="text/javascript">

        $(document).ready(function () {

            $('#divLogout').on('click', function () {
                alert('1');
                    var url = '@Url.Action("Logout","Home")';
                    window.location.href = url;

                    return false;

                });

        });

</script>
    }

</div>
