@model MyTime.ViewModels.AccessRoleViewModel

@{
    ViewBag.Title = MyTime.Resource.AccessRole;

    Layout = "~/Views/Shared/_Layout.cshtml";

}

<div class="container-fluid">

    <div class="row">
        <div class="col">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item" aria-current="page">@MyTime.Resource.Device</li>
                    <li class="breadcrumb-item active" aria-current="page">@ViewBag.Title</li>
                </ol>
            </nav>
        </div>
    </div>

    <div class="row">

        <div id="divList" class="col-md-12">

            <div class="card shadow">
                <div class="card-header bg-transparent text-center">
                    <h5>@MyTime.Resource.AccessRoleList</h5>
                </div>
                <div class="card-body">

                    <table id="listDatatable" class="table table-striped hover" style="table-layout: fixed;">
                        <thead>
                            <tr class="text-white header-bg-color">

                                <th></th>
                                <th></th>
                                <th></th>
                                <th>@MyTime.Resource.AccessRoleID</th>
                                <th>@MyTime.Resource.AccessRoleName</th>
                                <th>@MyTime.Resource.IsActivated</th>
                            </tr>
                        </thead>
                    </table>

                </div>
            </div>
        </div>


        <div class="modal fade" id="modalCRUD" role="dialog" data-backdrop="static" keyboard="false">
            <div class="modal-dialog">
                <div id="divCRUD">
                </div>
            </div>
        </div>


        @*<div id="divCRUD" class="col-md-6 hide">
            </div>*@

    </div>

    @*<div id="divSelectNewDevice" class="col-md-6">
    </div>*@

    @*<div class="modal fade" id="modalSelectNewDevice" role="dialog" data-backdrop="static" keyboard="false" style="z-index:auto;">
        <div class="modal-dialog">
            <div id="divSelectNewDevice" class="col-md-6">
            </div>
        </div>
    </div>*@


    <div class="row">
            <div id="divSelectNewDevice" class="col-md-6">
            </div>
    </div>


</div>

<input type=hidden id="pid" value="" />

@section styles {
    @Styles.Render("~/Content/dataTables")
    <link rel="stylesheet" href="~/Content/themes/base/jquery-ui.min.css">
}

@section Scripts{

    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    @Scripts.Render("~/bundles/dataTables")
    <script src="~/Scripts/moment.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    @*@Scripts.Render("~/bundles/custom-js")*@

<script type="text/javascript">

        var locale_norecord = '';
        var locale_lengthmenu = '';
        var locale_info = '';
        var locale_search = '';
        var locale_first = '';
        var locale_previous = '';
        var locale_next = '';
        var locale_last = '';
        var locale_infofiltered = '';
        var locale_rowselected = '';

        var listDatatable;
        var listAccessRoleDeviceDatatable;
        var listAccessRoleOvertimeDeviceDatatable;

        var listNewDeviceDatatable;

    $(document).ready(function () {

            setInactivityTime();

            //toggleSidebar();
            unloadSpinner();
            showDivBody();

            setDataTableLocale();
            initializeListDataTable();

        });

        function setDataTableLocale() {

            var culture = '@System.Globalization.CultureInfo.CurrentCulture.Name';

            if (culture != 'ms-MY') {
                locale_norecord = '- No record -';
                //locale_norecord = '-';
                locale_lengthmenu = 'Display _MENU_';
                //locale_info = 'Showing page _PAGE_ of _PAGES_';
                locale_info = 'Record# _START_~_END_  of _TOTAL_';
                locale_search = '';

                locale_infofiltered = '';

                locale_first = 'First';
                locale_previous = 'Previous';
                locale_next = 'Next';
                locale_last = 'Last';

                locale_rowselected = ' ( Selected %d records ) ';
            }
            else {
                locale_norecord = '- Tidak ada rekod -';
                //locale_norecord = '-';
                locale_lengthmenu = 'Paparan _MENU_ ';
                //locale_info = 'Menunjukkan halaman _PAGE_ dari _PAGES_';
                locale_info = 'Rekod# _START_~_END_ daripada _TOTAL_';
                //locale_search = '';

                locale_infofiltered = '';

                locale_first = 'Pertama';
                locale_previous = 'Sebelumnya';
                locale_next = 'Seterusnya';
                locale_last = 'Terakhir';

                locale_rowselected = ' ( Telah Pilih %d rekod ) ';

            };

        };

        function initializeListDataTable() {

            listDatatable = $('#listDatatable').DataTable({
                    //dom: '<"panel panel-default"<"panel-heading"<"row"<"col-md-12"f>><"row"<"col-md-2"B><"col-md-10 text-right"i>>>t<"panel-footer"<"row pt-2"<"col-md-6"l><"col-md-6 text-right"p>>>>',
                    dom: '<"panel panel-default"<"panel-heading"<"row"<"col-md-12 d-flex justify-content-end text-left"f>><"row"<"col-md-2"B><"col-md-10 d-flex justify-content-end text-right"i>>>t<"panel-footer"<"row pt-1"<"col-md-4 d-flex justify-content-start text-left"l>"<"col-md-8 d-flex justify-content-end text-left"p>>>>',
                    buttons:
                        [
                            {
                                text: '\uf067', className: 'myTableButton',
                                action: function (e, dt, node, config) {
                                    CreateProcess();
                                }
                            }
                        ],
                    autoWidth: false,
                    scrollX: true,
                    scrollY: true,
                    language: {

                        "lengthMenu": locale_lengthmenu,
                        "zeroRecords": locale_norecord,
                        "info": locale_info,
                        "infoEmpty": locale_norecord,
                        "infoFiltered": locale_infofiltered,
                        "search": locale_search,
                        "paginate": {
                            "first": locale_first,
                            "previous": locale_previous,
                            "next": locale_next,
                            "last": locale_last
                        }
                    },
                    ajax: {
                        url: '/AccessRole/GetData',
                        type: "POST",
                        datatype: "json",
                        dataSrc: ''
                    },
                    rowId: 'AccessRoleID',
                    columns: [
                        {
                            "render": function (data, type, full, meta) {
                                return "<a href='#'  onclick='UpdateProcess(" + '"' + full.AccessRoleID + '"' + ");'> <i class='icofont-edit' style='color: dodgerblue; font-size: 14px;' data-toggle='tooltip' data-placement='top' title='@MyTime.Resource.Update'></i> </a>";
                            }
                        },
                        {
                            "render": function (data, type, full, meta) {
                                return "<a href='#'  onclick='DeleteProcess(" + '"' + full.AccessRoleID + '"' + ");'> <i class='icofont-trash' style='color: red; font-size:14px;' data-toggle='tooltip' data-placement='top' title='@MyTime.Resource.Delete'></i> </a>";
                            }
                        },
                         {
                            "render": function (data, type, full, meta) {
                                return "<a href='#'  onclick='ListAccessRoleDevice(" + '"' + full.AccessRoleID + '"' + ");'> <i class='fa fa-tablet' style='color: black; font-size:14px;' data-toggle='tooltip' data-placement='top' title='@MyTime.Resource.AssignDevice'></i> </a>";
                            }
                        },
                        { "data": 'AccessRoleID' },
                        { "data": 'AccessRoleName' },
                        {
                            "data": "IsActivated",
                            "className": "text-center",
                            "render": function (data, type, row) {

                                if (data == true) {
                                    return '<input type="checkbox" class="editor-active" onclick="return false;" checked>';
                                }
                                else {
                                    return '<input type="checkbox" class="editor-active" onclick="return false;">';
                                }

                            }
                        }
                    ],
                    columnDefs: [
                        { targets: 0, className: 'text-center', width: '15px', orderable: false },
                        { targets: 1, className: 'text-center', width: '15px', orderable: false },
                        { targets: 2, className: 'text-center', width: '15px', orderable: false },
                        { targets: 3, className: 'text-left', width: '150px', orderable: true, visible : false },
                        { targets: 4, className: 'text-left', width: '150px', orderable: true },
                        { targets: 5, className: 'text-left', width: '80px', orderable: true }
                    ],
                order: [[4, 'asc']]
            });

    };

    function initializeListAccessRoleDeviceDatatable(id) {

        listAccessRoleDeviceDatatable = $('#listAccessRoleDeviceDatatable').DataTable({
            //dom: '<"panel panel-default"<"panel-heading"<"row"<"col-md-12"f>><"row"<"col-md-2"B><"col-md-10 text-right"i>>>t<"panel-footer"<"row pt-2"<"col-md-12 text-right"p>><"row pt-2"<"col-md-12 text-right"l>>>>',
            dom: '<"panel panel-default"<"panel-heading"<"row"<"col-md-12 d-flex justify-content-end text-left"f>><"row"<"col-md-2"B><"col-md-10 d-flex justify-content-end text-right"i>>>t<"panel-footer"<"row pt-1"<"col-md-12 d-flex justify-content-end text-left"l>"<"col-md-12 d-flex justify-content-end text-left"p>>>>',
            buttons:
                        [
                            {
                                text: '\uf067', className: 'myTableButton',
                                action: function (e, dt, node, config) {

                                    SelectNewDeviceProcess(id, false);
                                }
                            }
                        ],
                    autoWidth: false,
                    scrollX: true,
                    scrollY: true,
                    language: {

                        "lengthMenu": locale_lengthmenu,
                        "zeroRecords": locale_norecord,
                        "info": locale_info,
                        "infoEmpty": locale_norecord,
                        "infoFiltered": locale_infofiltered,
                        "search": locale_search,
                        "paginate": {
                            "first": locale_first,
                            "previous": locale_previous,
                            "next": locale_next,
                            "last": locale_last
                        }

                    },
                    ajax: {
                        url: '/AccessRole/GetAccessRoleDeviceData/' + id,
                        type: "POST",
                        datatype: "json",
                        dataSrc: ''
                    },
                    rowId: 'DeviceID',
                    columns: [
                        {
                            "render": function (data, type, full, meta) {
                                return "<a href='#'  onclick='ShowConfirmDialog(" + '"' + full.AccessRoleID + '", "' + full.DeviceID + '"' + ");'> <i class='icofont-trash' style='color: red; font-size:14px;' data-toggle='tooltip' data-placement='top' title='@MyTime.Resource.Delete'></i> </a>";
                            }
                        },
                        { "data": 'DeviceID' },
                        { "data": 'DeviceID' }
                    ],
                    columnDefs: [
                        { targets: 0, className: 'text-center', width: '15px', orderable: false },
                        { targets: 1, className: 'text-left', width: '150px', orderable: true, visible : false },
                        { targets: 2, className: 'text-left', width: '250px', orderable: true }
                    ],
                order: [[2, 'asc']]
        });
    };

    function initializeListAccessRoleOvertimeDeviceDatatable(id) {

        listAccessRoleOvertimeDeviceDatatable = $('#listAccessRoleOvertimeDeviceDatatable').DataTable({
            //dom: '<"panel panel-default"<"panel-heading"<"row"<"col-md-12"f>><"row"<"col-md-2"B><"col-md-10 text-right"i>>>t<"panel-footer"<"row pt-2"<"col-md-12 text-right"p>><"row pt-2"<"col-md-12 text-right"l>>>>',
            dom: '<"panel panel-default"<"panel-heading"<"row"<"col-md-12 d-flex justify-content-end text-left"f>><"row"<"col-md-2"B><"col-md-10 d-flex justify-content-end text-right"i>>>t<"panel-footer"<"row pt-1"<"col-md-12 d-flex justify-content-end text-left"l>"<"col-md-12 d-flex justify-content-end text-left"p>>>>',
            buttons:
                        [
                            {
                                text: '\uf067', className: 'myTableButton',
                                action: function (e, dt, node, config) {

                                    SelectNewDeviceProcess(id, true);
                                }
                            }
                        ],
                    autoWidth: false,
                    scrollX: true,
                    scrollY: true,
                    language: {

                        "lengthMenu": locale_lengthmenu,
                        "zeroRecords": locale_norecord,
                        "info": locale_info,
                        "infoEmpty": locale_norecord,
                        "infoFiltered": locale_infofiltered,
                        "search": locale_search,
                        "paginate": {
                            "first": locale_first,
                            "previous": locale_previous,
                            "next": locale_next,
                            "last": locale_last
                        }

                    },
                    ajax: {
                        url: '/AccessRole/GetAccessRoleOvertimeDeviceData/' + id,
                        type: "POST",
                        datatype: "json",
                        dataSrc: ''
                    },
                    rowId: 'DeviceID',
                    columns: [
                        {
                            "render": function (data, type, full, meta) {
                                return "<a href='#'  onclick='ShowConfirmDialog(" + '"' + full.AccessRoleID + '", "' + full.DeviceID  + '"' + ");'> <i class='icofont-trash' style='color: red; font-size:14px;' data-toggle='tooltip' data-placement='top' title='@MyTime.Resource.Delete'></i> </a>";
                            }
                        },
                        { "data": 'DeviceID' },
                        { "data": 'DeviceID' }
                    ],
                    columnDefs: [
                        { targets: 0, className: 'text-center', width: '15px', orderable: false },
                        { targets: 1, className: 'text-left', width: '150px', orderable: true, visible : false },
                        { targets: 2, className: 'text-left', width: '250px', orderable: true }
                    ],
                order: [[2, 'asc']]
        });
    };


        function convertToDate(data) {

            var dte = new Date(parseInt(data.substr(6)));
            var dteWrapper = moment(dte);
            return dteWrapper.format("DD/MM/YYYY");
        };


        function CreateProcess() {

            document.getElementById('pid').value = 'create';

            loadDivCRUD();

            $.ajax({
                datatype: 'text/plain',
                type: 'GET',
                url: 'AccessRole/_Create',
                cache: false,
                success: function (data) {

                    $('#divCRUD').html(data);

                    $('#btnCancel').on('click', function () {
                        unloadDivCRUD();
                    });
                }
            });
        };

    function UpdateProcess(id) {

                document.getElementById('pid').value = 'update';

                loadDivCRUD();

                $.ajax({
                        datatype: 'text/plain',
                        type: 'GET',
                        url: 'AccessRole/_Update/' + id,
                        cache: false,
                        success: function (data) {

                            $('#divCRUD').html(data);

                            $('#btnCancel').on('click', function () {
                                unloadDivCRUD();
                            });
                        }
                });
         };

    function DeleteProcess(id) {

                document.getElementById('pid').value = 'delete';

                loadDivCRUD();

                $.ajax({
                        datatype: 'text/plain',
                        type: 'GET',
                        url: 'AccessRole/_Delete/' + id,
                        cache: false,
                        success: function (data) {

                            $('#divCRUD').html(data);

                            $('#btnCancel').on('click', function () {
                                unloadDivCRUD();
                            });
                        }
                });
    };


    function ListAccessRoleDevice(id) {

        document.getElementById('pid').value = 'list device';

        loadDivCRUD();

        $.ajax({
            datatype: 'text/plain',
            type: 'GET',
            url: 'AccessRole/_ListAccessRoleDevice/' + id,
            cache: false,
            success: function (data) {

                $('#divCRUD').html(data);

                // Overcome the bootbox after closed issue
                $(document).on('hidden.bs.modal', '.bootbox.modal', function (e) {
                    if ($(".modal").hasClass('show')) {
                        $('body').addClass('modal-open');
                    }
                })

                initializeListAccessRoleDeviceDatatable(id);
                initializeListAccessRoleOvertimeDeviceDatatable(id);
                //GenerateAccessRoleDeviceList();

                $('#btnCancel').on('click', function () {
                    unloadDivCRUD();
                });
            }
        });

    };


    function GenerateAccessRoleDeviceList() {


        $.ajax({
            datatype: 'text/plain',
            type: 'GET',
            url: 'AccessRole/GetAccessRoleDeviceList',
            data: '',
            cache: false,
            dataType: "json",
            success: function (data) {

                if (data != '') {

                    listAccessRoleDeviceDatatable.clear().rows.add(data).draw(false);

                }
                else {
                    listAccessRoleDeviceDatatable.clear().draw(false);
                }

            }
        });
    };


    function SelectNewDeviceProcess(id, IsOvertimeExtraDevice) {

         setDataTableLocale();

         document.getElementById('pid').value = 'assign device';

         $('#divSelectNewDevice').show();

            $.ajax({
                datatype: 'text/plain',
                type: 'GET',
                url: 'AccessRole/_ListNewAccessRoleDevice/' + id,
                cache: false,
                success: function (data) {

                    $('#divSelectNewDevice').html(data);

                    var customNewAccessRoleDeviceDatatable = $('#listNewDeviceDatatable').DataTable({
                        //dom: '<"panel panel-default"<"panel-heading"<"row"<"col-md-12"f>><"row"<"col-md-2"B><"col-md-10 text-right"i>>>t<"panel-footer"<"row pt-2"<"col-md-6"l><"col-md-6 text-right"p>>>>',
                        dom: '<"panel panel-default"<"panel-heading"<"row"<"col-md-12 d-flex justify-content-end text-left"f>><"row"<"col-md-2"B><"col-md-10 d-flex justify-content-end text-right"i>>>t<"panel-footer"<"row pt-1"<"col-md-12 d-flex justify-content-end text-left"l>"<"col-md-12 d-flex justify-content-end text-left"p>>>>',
                        buttons:
                            [

                            ],
                        autoWidth: false,
                        scrollX: true,
                        scrollY: true,
                        language: {

                            "lengthMenu": locale_lengthmenu,
                            "zeroRecords": locale_norecord,
                            "info": locale_info,
                            "infoEmpty": locale_norecord,
                            "infoFiltered": locale_infofiltered,
                            "selected": locale_rowselected,
                            "search": locale_search,
                            "paginate": {
                                "first": locale_first,
                                "previous": locale_previous,
                                "next": locale_next,
                                "last": locale_last
                            },
                            select: {
                                "rows": locale_rowselected
                            }
                        },
                        ajax: {

                            url: '/AccessRole/ListNewDevice' ,
                            type: "POST",
                            data: { id: id, IsOvertimeExtraDevice: IsOvertimeExtraDevice },
                            datatype: "json",
                            dataSrc: ''
                        },
                        rowId: 'DeviceID',
                        columns: [
                            {
                                "data": 'selectAll',
                                "render": function (data, type, row) {
                                    return '<input type="checkbox">';
                                }
                            },
                            { "data": 'DeviceID' },
                            { "data": 'DeviceID' }

                        ],
                        columnDefs: [
                            { targets: 0, className: 'text-center select-checkbox', width: '15px', orderable: false, defaultContent: '' },
                            { targets: 1, className: 'text-left', width: '100px', orderable: true, visible: false },
                            { targets: 2, className: 'text-left', width: '250px', orderable: true }
                        ],
                        select: {
                            style: 'multi',
                            selector: 'td:first-child'
                        },
                        order: [[2, 'asc']]

                    });


                    //Set Title for Select New Device
                    if (IsOvertimeExtraDevice == false) {
                        document.getElementById("lblTitle").innerHTML = '@MyTime.Resource.AccessRole' + ' :: ' + '@MyTime.Resource.SelectDevice';
                    }
                    else {
                        document.getElementById("lblTitle").innerHTML = '@MyTime.Resource.AccessRole' + ' :: ' + '@MyTime.Resource.SelectOvertimeDevice';

                    };


                    $("#selectAll").on("click", function (e) {

                        var customNewAccessRoleDeviceDatatable = $('#listNewDeviceDatatable').DataTable();

                        var rows = customNewAccessRoleDeviceDatatable.rows({ 'search': 'applied' }).nodes();

                        if ($(this).is(":checked")) {
                            customNewAccessRoleDeviceDatatable.rows().select();
                         } else {
                            customNewAccessRoleDeviceDatatable.rows().deselect();
                        }

                        $('input[type="checkbox"]', rows).prop('checked', this.checked);
                    });

                    document.getElementById("btnAssign").addEventListener('click', function () {

                        var customNewAccessRoleDeviceDatatable = $('#listNewDeviceDatatable').DataTable();
                        var data = customNewAccessRoleDeviceDatatable.rows({ selected: true }).data();

                        var accessRoleID = document.getElementById('accessRoleID').value;

                        var selectedDeviceID ='';

                        if (data.length > 0) {

                            for (var i = 0; i < data.length; i++) {

                                if (selectedDeviceID != '') {
                                    selectedDeviceID += '#';
                                };

                                selectedDeviceID += data[i].DeviceID;
                            };

                            $.ajax({
                                datatype: 'text/plain',
                                type: 'POST',
                                url: 'AccessRole/AssignAccessRoleDevice/',
                                data: { accessRoleID: accessRoleID, selectedDeviceID: selectedDeviceID, IsOvertimeExtraDevice: IsOvertimeExtraDevice  },
                                cache: false,
                                success: function (status) {

                                    //GenerateAccessRoleDeviceList();

                                    listAccessRoleDeviceDatatable.ajax.reload();
                                    listAccessRoleOvertimeDeviceDatatable.ajax.reload();

                                }
                            });

                        }

                        $('#modalNewDevice').modal('hide');
                        $('#divSelectNewDevice').hide();

                        var messageString = '';

                        switch (document.getElementById('pid').value) {

                            case 'create':
                                 messageString  = '@MyTime.Resource.MessageSuccessCreate';
                                break;
                            case 'update':
                                 messageString  = '@MyTime.Resource.MessageSuccessUpdate';
                                break;
                            case 'delete':
                                 messageString  = '@MyTime.Resource.MessageSuccessDelete';
                                break;
                            case 'assign device':
                                messageString  = '@MyTime.Resource.MessageSuccessAssignDevice';
                                break;
                            default:
                                 messageString  = '@MyTime.Resource.MessageSuccessCreate';
                                 break;
                        }


                        bootbox.alert({
                            title: '@MyTime.Resource.MessageInfo',
                            message: messageString,
                            backdrop: true,
                            buttons: {
                                        ok: {
                                          className:'btn-primary',
                                          label: ' @MyTime.Resource.Close'
                                }
                            },
                            callback: function () {

                            }
                        });

                    });

                    document.getElementById("btnCancelAssign").addEventListener('click', function () {

                        $('#modalNewDevice').modal('hide');
                        $('#divSelectNewDevice').hide();

                        //listAccessRoleDeviceDatatable.ajax.reload();

                    });

                    $('#btnCancel').on('click', function () {
                        $('#divSelectNewDevice').hide();
                    });

                    $('#modalNewDevice').modal('show');
                }
            });

        };


        function DeleteAccessRoleDevice(p1, p2) {

                $.ajax({
                        datatype: 'text/plain',
                        type: 'POST',
                        url: 'AccessRole/DeleteAccessRoleDevice/',
                        data: { accessRoleID : p1, deviceID: p2 },
                        cache: false,
                    success: function (result) {

                        listAccessRoleDeviceDatatable.ajax.reload();
                        listAccessRoleOvertimeDeviceDatatable.ajax.reload();

                            bootbox.alert({
                                title: '@MyTime.Resource.MessageInfo',
                                message: '@MyTime.Resource.MessageSuccessDelete',
                                backdrop: true,
                                buttons: {
                                    ok: {
                                      className:'btn-primary',
                                      label: ' @MyTime.Resource.Close'
                                    }
                            },
                                callback: function () {
                                }
                            });

                        }
                });
        };


        function ShowConfirmDialog(p1, p2) {

            // p1 : AccessRoleID
            // p2 : DeviceID
            // p3 : DeviceName

            var titleString = "@MyTime.Resource.MessageConfirmation";
            var messageString = "<div id='divDialog'>";
            messageString += "<div class='form-horizontal'>";
            messageString += "<div class='form-group'>";

            messageString += "<div class='label-control col-md-12 pl-0'>@MyTime.Resource.DeviceName</div>";
            messageString += "<div class='form-control col-md-12' readonly='readonly'>" + p2 + "</div>";

            messageString += "</div>";
            messageString += "</div>";
            messageString += "</div>";

            bootbox.confirm({
                title: titleString,
                message: messageString,
                backdrop: true,
                buttons: {
                    cancel: {
                        className:'btn-warning',
                        label: ' @MyTime.Resource.No'
                    },
                    confirm: {
                        className: 'btn-danger',
                        label: ' @MyTime.Resource.Delete'
                    }
                },
                callback: function (result) {
                    if (result == true) {
                        DeleteAccessRoleDevice(p1, p2);
                    }
                }
            });

        };

        function onSuccessProcess(result, status, xhr) {

            if (result.status == 1) {

                unloadSpinner();
                unloadDivCRUD();

                $('#listDatatable').DataTable().ajax.reload(null, false);

                var messageString = '';

                switch (document.getElementById('pid').value) {

                    case 'create':
                         messageString  = '@MyTime.Resource.MessageSuccessCreate';
                        break;
                    case 'update':
                         messageString  = '@MyTime.Resource.MessageSuccessUpdate';
                        break;
                    case 'delete':
                         messageString  = '@MyTime.Resource.MessageSuccessDelete';
                        break;
                    case 'assign device':

                        //listAccessRoleDeviceDatatable.ajax.reload();
                        //listAccessRoleOvertimeDeviceDatatable.ajax.reload();

                         messageString  = '@MyTime.Resource.MessageSuccessAssignDevice';
                        break;
                    default:
                         messageString  = '@MyTime.Resource.MessageSuccessCreate';
                         break;
                 }


                bootbox.alert({
                    title: '@MyTime.Resource.MessageInfo',
                    message: messageString,

                    backdrop: true,
                    buttons: {
                                ok: {
                                  className:'btn-primary',
                                  label: ' @MyTime.Resource.Close'
                        }
                    },
                    callback: function () {
                    }
                });

            }
            else {

                 unloadSpinner();
                unloadDivCRUD();

                if (document.getElementById('pid').value == 'delete') {
                    var messageString = '';
                    messageString = '@MyTime.Resource.MessageDeleteDenied';

                      bootbox.alert({
                    title: '@MyTime.Resource.MessageError',
                    message: messageString,

                    backdrop: true,
                    buttons: {
                                ok: {
                                  className:'btn-primary',
                                  label: ' @MyTime.Resource.Close'
                        }
                    },
                    callback: function () {
                    }
                });

                }


                $('#btnCancel').on('click', function () {
                    unloadDivCRUD();
                });


            }
        };

           let setInactivityTime = function () {

                let time;
                window.onload = resetTimer;

                document.onmousemove = resetTimer;
                document.onkeypress = resetTimer;
                document.onclick = resetTimer;

                function logout() {

                        var messageString = '@String.Format(MyTime.Resource.MessageSessionExpired, Session.Timeout)'

                      bootbox.alert({
                            title: '@MyTime.Resource.MessageInfo',
                            message: messageString,

                            backdrop: true,
                            buttons: {
                                        ok: {
                                          className:'btn-primary',
                                          label: ' @MyTime.Resource.Close'
                                }
                            },
                          callback: function () {
                            var url = '@Url.Action("Index","Auth")';
                            window.location.href = url;
                            }
                        });


                }
                function resetTimer() {

                    let timeOut = parseInt('@Session.Timeout');

                    clearTimeout(time);
                    time = setTimeout(logout, timeOut * 60 * 1000)
                }
            };

</script>
}





