@{
    ViewBag.Title = MyTime.Resource.User;

    Layout = "~/Views/Shared/_Layout.cshtml";

}

<div class="container-fluid">

    <div class="row">
        <div class="col">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item" aria-current="page">@MyTime.Resource.SystemSetting</li>
                    <li class="breadcrumb-item active" aria-current="page">@ViewBag.Title</li>
                </ol>
            </nav>
        </div>
    </div>

    <div class="row">

        <div id="divList" class="col-md-12">

            <div class="card shadow">
                <div class="card-header bg-transparent text-center">
                    <h5>@MyTime.Resource.UserList</h5>
                </div>
                @*<div class="card-body overflow-auto">*@
                <div class="card-body">

                    <table id="listDatatable" class="table table-striped hover" style="table-layout: fixed;">
                        <thead>
                            <tr class="text-white header-bg-color">
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th>@MyTime.Resource.UserName</th>
                                <th>@MyTime.Resource.NRIC</th>
                                <th>@MyTime.Resource.Gender</th>
                                <th>@MyTime.Resource.ContactNo</th>
                                <th>@MyTime.Resource.Email</th>
                                <th>@MyTime.Resource.DepartmentName</th>
                                <th>@MyTime.Resource.UnitName</th>
                                <th>@MyTime.Resource.Designation</th>
                                <th>@MyTime.Resource.Grade</th>
                                <th>@MyTime.Resource.RoleName</th>
                                <th>@MyTime.Resource.ShiftName</th>
                                <th>@MyTime.Resource.IsResigned</th>
                                <th>@MyTime.Resource.On</th>
                                <th>@MyTime.Resource.AccessRoleName</th>
                            </tr>
                        </thead>
                    </table>

                </div>
            </div>
        </div>


        <div class="modal fade" id="modalCRUD" role="dialog" data-backdrop="static" keyboard="false">
            <div class="modal-dialog">
                <div id="divCRUD">
                </div>
            </div>
        </div>

        @*<div id="divCRUD" class="col-md-6 hide">
            </div>*@
    </div>
</div>

<input type=hidden id="pid" value="" />

@section styles {
    @Styles.Render("~/Content/dataTables")
    <link rel="stylesheet" href="~/Content/themes/base/jquery-ui.min.css">
}

@section Scripts{

    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    @Scripts.Render("~/bundles/dataTables")
    <script src="~/Scripts/moment.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    @*@Scripts.Render("~/bundles/custom-js")*@


<script type="text/javascript">

        //var locale_norecord = '';
        //var locale_lengthmenu = '';
        //var locale_info = '';
        //var locale_search = '';
        //var locale_first = '';
        //var locale_previous = '';
        //var locale_next = '';
        //var locale_last = '';
        //var locale_infofiltered = '';
        //var locale_rowselected = '';

        var locale_norecord = '';
        var locale_lengthmenu = '';
        var locale_info = '';
        var locale_search = '';
        var locale_first = '';
        var locale_previous = '';
        var locale_next = '';
        var locale_last = '';
        var locale_infofiltered = '';
        var locale_rowselected = '';

        var listDatatable;
        var listAttendanceCardDatatable;

        $(document).ready(function () {

            setInactivityTime();
            //toggleSidebar();
            unloadSpinner();
            showDivBody();

            setDataTableLocale();
            initializeListDataTable();

        });

           function setDataTableLocale() {

                var culture = '@System.Globalization.CultureInfo.CurrentCulture.Name';

                if (culture != 'ms-MY') {
                    locale_norecord = '- No record -';
                    //locale_norecord = '-';
                    locale_lengthmenu = 'Display _MENU_';
                    //locale_info = 'Showing page _PAGE_ of _PAGES_';
                    locale_info = 'Record# _START_~_END_  of _TOTAL_';
                    locale_search = '';

                    locale_infofiltered = '';

                    locale_first = 'First';
                    locale_previous = 'Previous';
                    locale_next = 'Next';
                    locale_last = 'Last';

                    locale_rowselected = ' ( Selected %d records ) ';
                }
                else {
                    locale_norecord = '- Tidak ada rekod -';
                    //locale_norecord = '-';
                    locale_lengthmenu = 'Paparan _MENU_ ';
                    //locale_info = 'Menunjukkan halaman _PAGE_ dari _PAGES_';
                    locale_info = 'Rekod# _START_~_END_ daripada _TOTAL_';
                    //locale_search = '';

                    locale_infofiltered = '';

                    locale_first = 'Pertama';
                    locale_previous = 'Sebelumnya';
                    locale_next = 'Seterusnya';
                    locale_last = 'Terakhir';

                    locale_rowselected = ' ( Telah Pilih %d rekod ) ';

                };

    };

    function convertToDate(data) {

        var dte = new Date(parseInt(data.substr(6)));
        var dteWrapper = moment(dte);
        return dteWrapper.format("DD/MM/YYYY");
    };


    function initializeListDataTable() {

            var isResigned = false;

            listDatatable = $('#listDatatable').DataTable({
                //dom: '<"panel panel-default"<"panel-heading"<"row"<"col-md-12"f>><"row"<"col-md-6"B><"col-md-6 text-right"i>>>t<"panel-footer"<"row pt-2"<"col-md-6"l><"col-md-6 text-right"p>>>>',
                dom: '<"panel panel-default"<"panel-heading"<"row"<"col-md-12 d-flex justify-content-end text-left"f>><"row"<"col-md-2"B><"col-md-10 d-flex justify-content-end text-right"i>>>t<"panel-footer"<"row pt-1"<"col-md-4 d-flex justify-content-start text-left"l>"<"col-md-8 d-flex justify-content-end text-left"p>>>>',
                buttons:
                    [
                        {
                            text: '@MyTime.Resource.ImportNewUser', className: 'myTableTextButton',
                            action: function (e, dt, node, config) {
                                //SearchDeviceUserProcess();
                                ListDeviceUserProcess();
                            }
                        }
                    ],
                autoWidth: false,
                scrollX: true,
                scrollY: true,
                language: {

                    "lengthMenu": locale_lengthmenu,
                    "zeroRecords": locale_norecord,
                    "info": locale_info,
                    "infoEmpty": locale_norecord,
                    "infoFiltered": locale_infofiltered,
                    "search": locale_search,
                    "paginate": {
                        "first": locale_first,
                        "previous": locale_previous,
                        "next": locale_next,
                        "last": locale_last
                    }
                },
                ajax: {

                    url: '/User/GetData',
                    type: "POST",
                    datatype: "json",
                    dataSrc: ''
                },
                rowId: 'NRIC',
                columns: [

                    {
                        "render": function (data, type, full, meta) {
                            return "<a href='#'  onclick='UpdateProcess(" + '"' + full.NRIC + '"' + ");'> <i class='icofont-edit' style='color: dodgerblue; font-size: 14px;' data-toggle='tooltip' data-placement='top' title='@MyTime.Resource.Update'></i> </a>";
                        }
                    },
                    {
                        "render": function (data, type, row) {
                            return "<a href='#'  onclick='DeleteProcess(" + '"' + row.NRIC + '"' + ");'> <i class='icofont-trash' style='color: red; font-size:14px;' data-toggle='tooltip' data-placement='top' title='@MyTime.Resource.Delete'></i> </a>";
                        }
                    },
                    {
                        "render": function (data, type, row) {
                            return "<a href='#'  onclick='DeletePassword(" + '"' + row.NRIC + '"' + ");'> <i class='icofont-key' style='color: dodgerblue ; font-size:14px;' data-toggle='tooltip' data-placement='top' title='@MyTime.Resource.DeletePassword'></i> </a>";
                        }
                    },
                    {
                        "render": function (data, type, row) {

                            @*switch (row.AttendanceCardStatus) {
                                case 'YL':
                                    return "<a href='#'  onclick='ListAttendanceCardProcess(" + '"' + row.NRIC + '","' + row.UserName + '"' + ");'> <i class='icofont-address-book pr-1' style='color: gold ; font-size:18px;' data-toggle='tooltip' data-placement='top' title='@MyTime.Resource.AttendanceCard'></i>@MyTime.Resource.Colour_Yellow  </a>";
                                case 'GN':
                                    return "<a href='#'  onclick='ListAttendanceCardProcess(" + '"' + row.NRIC + '","' + row.UserName + '"' + ");'> <i class='icofont-address-book pr-1' style='color: green ; font-size:18px;' data-toggle='tooltip' data-placement='top' title='@MyTime.Resource.AttendanceCard'></i>@MyTime.Resource.Colour_Green</a>";
                                case 'RD':
                                    return "<a href='#'  onclick='ListAttendanceCardProcess(" + '"' + row.NRIC + '","' + row.UserName + '"' + ");'> <i class='icofont-address-book pr-1' style='color: red ; font-size:18px;' data-toggle='tooltip' data-placement='top' title='@MyTime.Resource.AttendanceCard'></i>@MyTime.Resource.Colour_Red  </a>";
                            }*@

                            switch (row.AttendanceCardStatus) {
                                case 'YL':
                                    return "<i class='icofont-address-book pr-1' style='color: gold ; font-size:18px;' data-toggle='tooltip' data-placement='top' title='@MyTime.Resource.AttendanceCard'></i>@MyTime.Resource.Colour_Yellow ";
                                case 'GN':
                                    return "<i class='icofont-address-book pr-1' style='color: green ; font-size:18px;' data-toggle='tooltip' data-placement='top' title='@MyTime.Resource.AttendanceCard'></i>@MyTime.Resource.Colour_Green";
                                case 'RD':
                                    return "<i class='icofont-address-book pr-1' style='color: red ; font-size:18px;' data-toggle='tooltip' data-placement='top' title='@MyTime.Resource.AttendanceCard'></i>@MyTime.Resource.Colour_Red";
                            }
                        }
                    },
                    { "data": "UserName" },
                    { "data": "NRIC" },
                    { "data": "Gender" },
                    { "data": "ContactNo" },
                    { "data": "Email" },
                    { "data": "DepartmentName" },
                    { "data": "UnitName" },
                    { "data": "Designation" },
                    { "data": "Grade" },
                    { "data": "RoleName" },
                    { "data": "ShiftName" },
                    {
                        "data": "IsResigned",
                        "className": "text-center",
                        "render": function (data, type, row) {

                            if (data == true) {

                                isResigned = true;
                                return '<input type="checkbox" class="editor-active" onclick="return false;" checked>';
                            }
                            else {

                                isResigned = false;
                                return '<input type="checkbox" class="editor-active" onclick="return false;">';
                            }

                        }
                    },
                    {
                        "data": "ResignedOn", "render": function (data, type, full, meta) {

                            if (isResigned == true) {
                                return convertToDate(data);
                            }
                            else {
                                return '-';
                            }

                        }
                    },
                    { "data": "AccessRoleName" }

                ],
                columnDefs: [
                    { targets: 0, className: 'text-center', width: '12px', orderable: false  },
                    { targets: 1, className: 'text-center', width: '15px', orderable: false },
                    { targets: 2, className: 'text-center', width: '15px', orderable: false },
                    { targets: 3, className: 'text-center', width: '100px', orderable: false },
                    { targets: 4, className: 'text-left', width: '250px', orderable: true },
                    { targets: 5, className: 'text-left', width: '150px', orderable: true },
                    { targets: 6, className: 'text-left', width: '100px', orderable: true },
                    { targets: 7, className: 'text-left', width: '100px', orderable: true },
                    { targets: 8, className: 'text-left', width: '250px', orderable: true },
                    { targets: 9, className: 'text-left', width: '250px', orderable: true },
                    { targets: 10, className: 'text-left', width: '150px', orderable: true },
                    { targets: 11, className: 'text-left', width: '100px', orderable: true },
                    { targets: 12, className: 'text-left', width: '100px', orderable: true },
                    { targets: 13, className: 'text-left', width: '150px', orderable: true },
                    { targets: 14, className: 'text-center', width: '150px', orderable: true },
                    { targets: 15, className: 'text-center', width: '100px' },
                    { targets: 16, type: 'date-euro', className: 'text-center', width: '100px' },
                    { targets: 17, className: 'text-left', width: '150px', orderable: true },
                ],
                order: [[4, 'asc']]
            });

        };


        function initializeListAttendanceCardDatatable(NRIC) {


            listAttendanceCardDatatable = $('#listAttendanceCardDatatable').DataTable({
                 dom: '<"panel panel-default"<"panel-heading"<"row"<"col-md-12 d-flex justify-content-end text-left"f>><"row"<"col-md-12 d-flex justify-content-end text-right"i>>>t<"panel-footer"<"row pt-1"<"col-md-12 d-flex justify-content-end text-left"l>"<"col-md-12 d-flex justify-content-end text-left"p>>>>',

                        autoWidth: false,
                        scrollX: true,
                        scrollY: true,
                        language: {

                            "lengthMenu": locale_lengthmenu,
                            "zeroRecords": locale_norecord,
                            "info": locale_info,
                            "infoEmpty": locale_norecord,
                            "infoFiltered": locale_infofiltered,
                            "search": locale_search,
                                "paginate": {
                                    "first": locale_first,
                                    "previous": locale_previous,
                                    "next": locale_next,
                                    "last": locale_last
                                }
                        },
                        ajax: {
                            url: '/User/GetAttendanceCardData/',
                            data: { nric: NRIC },
                            type: "POST",
                            datatype: "json",
                            dataSrc: ''
                        },
                        rowId: 'NRIC',
                        columns: [
                            {
                                "render": function (data, type, full, meta) {

                                    return "<a href='#'  onclick='ShowConfirmDialog(" + '"' + full.NRIC + '", "' + full.EffectiveOn + '","' + full.YearMonth + '","' + full.AttendanceCardStatus + '"' + ");'> <i class='icofont-trash' style='color: red; font-size:14px;' data-toggle='tooltip' data-placement='top' title='@MyTime.Resource.Delete'></i> </a>";
                                }
                            },
                            { "data": 'NRIC' },
                            { "data": 'EffectiveOn' },
                            { "data": 'YearMonth' },
                            {
                                "data": "AttendanceCardStatus",
                                "className": "text-left",
                                "render": function (data, type, row) {

                                    switch (data) {
                                        case 'YL':
                                            return "<i class='icofont-address-book pr-1' style='color: gold ; font-size:18px;' data-toggle='tooltip' data-placement='top' title='@MyTime.Resource.AttendanceCard'></i>@MyTime.Resource.Colour_Yellow";
                                            break;
                                        case 'GN':
                                            return "<i class='icofont-address-book pr-1' style='color: green ; font-size:18px;' data-toggle='tooltip' data-placement='top' title='@MyTime.Resource.AttendanceCard'></i>@MyTime.Resource.Colour_Green";
                                            break;
                                        case 'RD':
                                            return "<i class='icofont-address-book pr-1' style='color: red ; font-size:18px;' data-toggle='tooltip' data-placement='top' title='@MyTime.Resource.AttendanceCard'></i>@MyTime.Resource.Colour_Red";
                                            break;
                                        default:
                                            return "<i class='icofont-address-book pr-1' style='color: gold ; font-size:18px;' data-toggle='tooltip' data-placement='top' title='@MyTime.Resource.AttendanceCard'></i>@MyTime.Resource.Colour_Yellow";
                                    }

                                }
                            }
                        ],
                        columnDefs: [
                            { targets: 0, className: 'text-center', width: '15px', orderable: false },
                            { targets: 1, className: 'text-left', width: '150px', orderable: true, visible: false },
                            { targets: 2, className: 'text-left', width: '80px', orderable: true, visible: false  },
                            { targets: 3, className: 'text-left', width: '80px', orderable: true},
                            { targets: 4, className: 'text-left', width: '250px', orderable: true }
                        ],
                    order: [[2, 'des']]
             });


        };



        function DeletePassword(id) {

            document.getElementById('pid').value = 'delete password';

            loadDivCRUD();

            $.ajax({
                    datatype: 'text/plain',
                    type: 'GET',
                    url: 'User/_DeletePassword/' + id,
                    cache: false,
                    success: function (data) {

                        $('#divCRUD').html(data);

                         $('#btnCancel').on('click', function () {
                            unloadDivCRUD();
                         });


                    }
            });

        }

        function UpdateProcess(id) {

            document.getElementById('pid').value = 'update';

            loadDivCRUD();

            var culture = '@System.Globalization.CultureInfo.CurrentCulture.Name';

            $.ajax({
                    datatype: 'text/plain',
                    type: 'GET',
                    url: 'User/_Update/' + id,
                    cache: false,
                success: function (data) {

                    $('#divCRUD').html(data);

                    $('.datepicker').datepicker(setDateTimePickerLocale(culture));

                        $("input[type='checkbox']").click(function (e) {
                            var lbl = document.getElementById('divResignedOnLabel');
                            var ctl = document.getElementById('divResignedOn');
                            if ($(this).is(':checked')) {
                                lbl.style.display = 'block';
                                ctl.style.display = 'block';
                            } else {
                                lbl.style.display = 'none';
                                ctl.style.display = 'none';
                            }
                        });

                        $("#ddlDepartment").change(function () {

                            var id = $("#ddlDepartment").val();
                            $.ajax({
                                cache: false,
                                type: "GET",
                                url: '@Url.Action("FilterUnit", "User")',
                                data: { "departmentID": id },
                                success: function (json, textStatus) {

                                    $("#ddlUnit").empty();

                                    json = json || {};

                                    $("#ddlUnit").append('<option value="0">@MyTime.Resource.PleaseSelect</option>');

                                    for (var i = 0; i < json.length; i++) {
                                        $("#ddlUnit").append('<option value="' + json[i].UnitID + '">' + json[i].UnitName + '</option>');
                                    }

                                    //$("#ddlUnit").prop("disabled", false);
                                },
                                error: function () {
                                    alert("Data Not Found");
                                }
                            });
                        });


                    $('#btnCancel').on('click', function () {

                        unloadDivCRUD();

                    });


                }
            });
        };

        function DeleteProcess(id) {

            document.getElementById('pid').value = 'delete';

            loadDivCRUD();

            $.ajax({
                    datatype: 'text/plain',
                    type: 'GET',
                    url: 'User/_Delete/' + id,
                    cache: false,
                    success: function (data) {

                        $('#divCRUD').html(data);

                        $('#btnCancel').on('click', function () {
                            unloadDivCRUD();
                        });
                    }
            });
    };

    function ListAttendanceCardProcess(NRIC, UserName) {


        document.getElementById('pid').value = 'list attendance card';

        loadDivCRUD();

        $.ajax({
            datatype: 'text/plain',
            type: 'GET',
            url: 'User/_ListAttendanceCard',
            data: { nric: NRIC, userName: UserName },
            cache: false,
            success: function (data) {

                $('#divCRUD').html(data);

                initializeListAttendanceCardDatatable(NRIC);

                // Overcome the bootbox after closed issue
                $(document).on('hidden.bs.modal', '.bootbox.modal', function (e) {
                    if ($(".modal").hasClass('show')) {
                        $('body').addClass('modal-open');
                    }
                })

                $('#btnUpdate').prop('disabled', true);

                $('#ddlMonthYear').change(function () {

                    var monthYear;

                    $('#ddlMonthYear option:selected').each(function () {
                        monthYear = $(this)[0].value;

                        if (monthYear != '') {
                            $('#btnUpdate').prop('disabled', false);
                        }
                        else {
                            $('#btnUpdate').prop('disabled', true);
                        }
                    });

                });

                $('#btnUpdate').on('click', function () {

                    loadSpinner();

                    var NRIC = $("#lblNRIC").val();
                    var effectiveOn= $("#ddlMonthYear option:selected").val();
                    var attendanceCardStatus = $("input[name='AttendanceCardStatus']:checked").val();

                    $.ajax({
                        datatype: 'text/plain',
                        type: 'GET',
                        url: 'User/UpdateAttendanceCard',
                        data: { NRIC: NRIC, effectiveOn: effectiveOn, attendanceCardStatus: attendanceCardStatus},
                        cache: false,
                        dataType: "json",
                        success: function (data) {

                            unloadSpinner();

                            if (data != null) {

                                $('#listAttendanceCardDatatable').DataTable().ajax.reload(null, false);

                                var messageString = '@MyTime.Resource.MessageSuccessUpdate';

                                  bootbox.alert({
                                        title: '@MyTime.Resource.MessageInfo',
                                        message: messageString,
                                        backdrop: true,
                                        buttons: {
                                                    ok: {
                                                      className:'btn-primary',
                                                      label: ' @MyTime.Resource.Close'
                                            }
                                        },
                                      callback: function () {

                                          $('#divForm').show();
                                        }
                                  });





                            }




                        }
                    });

                });

                $('#btnClose').on('click', function () {


                    $('#listDatatable').DataTable().ajax.reload(null, false);

                    unloadDivCRUD();

                });




            }
        });
        };

        function DeleteAttendanceCard(NRIC, effectiveOn) {

            document.getElementById('pid').value = 'delete attendance card';

            //var AttendanceDate = moment(dte).format('YYYY-MM-DD');

            loadDivCRUD();

            $.ajax({
                datatype: 'text/plain',
                type: 'GET',
                url: 'User/DeleteAttendanceCard',
                data: { nric: NRIC, effectiveOn: moment(effectiveOn).format('YYYY-MM-DD')},
                cache: false,
                success: function (data) {

                    unloadSpinner();

                    if (data != null) {



                        $('#listAttendanceCardDatatable').DataTable().ajax.reload(null, false);




                    }


                }
            });

        }


    function SearchDeviceUserProcess() {

            loadDivCRUD();

            var culture = '@System.Globalization.CultureInfo.CurrentCulture.Name';

            $.ajax({
                    datatype: 'text/plain',
                    type: 'GET',
                    url: 'User/_SearchDeviceUser',
                    cache: false,
                success: function (data) {

                    $('#divCRUD').html(data);

                    $('#btnCancel').on('click', function () {

                        unloadDivCRUD();

                    });


                }
            });

    };

     function ListDeviceUserProcess() {

            loadDivCRUD();

            var culture = '@System.Globalization.CultureInfo.CurrentCulture.Name';

            $.ajax({
                    datatype: 'text/plain',
                    type: 'GET',
                    url: 'User/_ListDeviceUser',
                    cache: false,
                success: function (data) {

                    $('#divCRUD').html(data);

                    $('#btnCancel').on('click', function () {

                        unloadDivCRUD();

                    });

                }
            });

        };

    function ImportDeviceUserProcess(data) {

        var NRIC = data.NRIC;
        var userName = data.UserName;
        var usrID = data.USRID;

        if (NRIC != null) {

            document.getElementById('pid').value = 'import user';

            loadDivCRUD();

            var culture = '@System.Globalization.CultureInfo.CurrentCulture.Name';

            $.ajax({
                datatype: 'text/plain',
                type: 'GET',
                url: 'User/_ImportDeviceUser',
                data: { NRIC: NRIC, userName: userName, usrID: usrID },
                cache: false,
                success: function (data) {

                    $('#divCRUD').html(data);

                    $('.datepicker').datepicker(setDateTimePickerLocale(culture));

                    $("input[type='checkbox']").click(function (e) {
                        var lbl = document.getElementById('divResignedOnLabel');
                        var ctl = document.getElementById('divResignedOn');
                        if ($(this).is(':checked')) {
                            lbl.style.display = 'block';
                            ctl.style.display = 'block';
                        } else {
                            lbl.style.display = 'none';
                            ctl.style.display = 'none';
                        }
                    });

                    $("#ddlDepartment").change(function () {

                        var id = $("#ddlDepartment").val();
                        $.ajax({
                            cache: false,
                            type: "GET",
                            url: '@Url.Action("FilterUnit", "User")',
                            data: { "departmentID": id },
                            success: function (json, textStatus) {

                                $("#ddlUnit").empty();

                                json = json || {};

                                $("#ddlUnit").append('<option value="0">@MyTime.Resource.PleaseSelect</option>');

                                for (var i = 0; i < json.length; i++) {
                                    $("#ddlUnit").append('<option value="' + json[i].UnitID + '">' + json[i].UnitName + '</option>');
                                }

                                //$("#ddlUnit").prop("disabled", false);
                            },
                            error: function () {
                                alert("Data Not Found");
                            }
                        });
                    });


                    $('#btnCancel').on('click', function () {

                        unloadDivCRUD();

                    });


                }
            });

        }
        else {

            $('#btnCancel').on('click', function () {

                unloadDivCRUD();

            });

        };

    };


          function ShowConfirmDialog(p1, p2, p3, p4) {

            // p1 : NRIC
            // p2 : YearMonth


            @*var year = p2.substr(0, 4);
            var month = p2.substr(4, 2)
            var yearMonth;

            switch (month) {
                   case '01':
                       yearMonth = '@MyTime.Resource.Month_Jan, ' + year;
                       break;
                   case '02':
                        yearMonth = '@MyTime.Resource.Month_Feb, ' + year;
                        break;
                   case '03':
                        yearMonth = '@MyTime.Resource.Month_Mar, ' + year;
                        break;
                   case '04':
                        yearMonth = '@MyTime.Resource.Month_Apr, ' + year;
                        break;
                   case '05':
                        yearMonth = '@MyTime.Resource.Month_May, ' + year;
                        break;
                   case '06':
                        yearMonth = '@MyTime.Resource.Month_Jun, ' + year;
                        break;
                   case '07':
                         yearMonth = '@MyTime.Resource.Month_Jul, ' + year;
                         break;
                   case '08':
                         yearMonth = '@MyTime.Resource.Month_Aug, ' + year;
                         break;
                   case '09':
                         yearMonth = '@MyTime.Resource.Month_Sep, ' + year;
                         break;
                   case '10':
                          yearMonth = '@MyTime.Resource.Month_Oct, ' + year;
                          break;
                   case '11':
                          yearMonth = '@MyTime.Resource.Month_Nov, ' + year;
                          break;
                   case '12':
                          yearMonth = '@MyTime.Resource.Month_Dec, ' + year;
                          break;
                   default:

              }*@

              var attendanceCardStatus;

              switch (p4) {
                  case 'YL':
                      attendanceCardStatus = '@MyTime.Resource.Colour_Yellow';
                      break;
                  case 'GN':
                      attendanceCardStatus = '@MyTime.Resource.Colour_Green';
                      break;
                  case 'RD':
                      attendanceCardStatus = '@MyTime.Resource.Colour_Red';
                      break;
              }



            var titleString = "@MyTime.Resource.MessageConfirmation";
            var messageString = "<div id='divDialog'>";
            messageString += "<div class='form-horizontal'>";
            messageString += "<div class='form-group'>";

            messageString += "<div class='label-control col-md-12 pl-0'>@MyTime.Resource.YearMonth</div>";
            messageString += "<div class='form-control col-md-12' readonly='readonly'>" + p3+ "</div>";

            messageString += "<div class='label-control col-md-12 pl-0'>@MyTime.Resource.AttendanceCardStatus</div>";
            messageString += "<div class='form-control col-md-12' readonly='readonly'>" + attendanceCardStatus  + "</div>";

            messageString += "</div>";
            messageString += "</div>";
            messageString += "</div>";

            bootbox.confirm({
                title: titleString,
                message: messageString,
                backdrop: true,
                buttons: {
                    cancel: {
                        className:'btn-warning',
                        label: ' @MyTime.Resource.No'
                    },
                    confirm: {
                        className: 'btn-danger',
                        label: ' @MyTime.Resource.Delete'
                    }
                },
                callback: function (result) {
                    if (result == true) {
                        DeleteAttendanceCard(p1, p2);
                    }
                }
            });

        };


        function onSuccessProcess(result, status, xhr) {

            if (result.status == 1) {

                unloadSpinner();
                unloadDivCRUD();

                $('#listDatatable').DataTable().ajax.reload(null, false);

                var messageString = '';

                switch (document.getElementById('pid').value) {


                    case 'update':
                         messageString  = '@MyTime.Resource.MessageSuccessUpdate';
                        break;
                    case 'delete':
                         messageString  = '@MyTime.Resource.MessageSuccessDelete';
                        break;
                   case 'delete password':
                         messageString  = '@MyTime.Resource.MessageSuccessDeletePassword';
                        break;
                   case 'import user':
                        messageString  = '@MyTime.Resource.MessageSuccessImportNewUser';
                        break;
                    case 'update attendance card status' :

                        messageString  = '@MyTime.Resource.MessageSuccessUpdateAttendanceCardStatus';
                        break;

                    default:
                         messageString  = '@MyTime.Resource.MessageSuccessUpdate';
                         break;
                 }

                bootbox.alert({
                    title: '@MyTime.Resource.MessageInfo',
                    message: messageString,

                    backdrop: true,
                    buttons: {
                                ok: {
                                  className:'btn-primary',
                                  label: ' @MyTime.Resource.Close'
                        }
                    },
                    callback: function () {
                    }
                });

            }
            else {

                $('#btnCancel').on('click', function () {
                    unloadDivCRUD();
                });
            }

    };

       let setInactivityTime = function () {

                let time;
                window.onload = resetTimer;

                document.onmousemove = resetTimer;
                document.onkeypress = resetTimer;
                document.onclick = resetTimer;

                function logout() {

                        var messageString = '@String.Format(MyTime.Resource.MessageSessionExpired, Session.Timeout)'

                      bootbox.alert({
                            title: '@MyTime.Resource.MessageInfo',
                            message: messageString,

                            backdrop: true,
                            buttons: {
                                        ok: {
                                          className:'btn-primary',
                                          label: ' @MyTime.Resource.Close'
                                }
                            },
                          callback: function () {
                            var url = '@Url.Action("Index","Auth")';
                            window.location.href = url;
                            }
                        });


                }
                function resetTimer() {

                    let timeOut = parseInt('@Session.Timeout');

                    clearTimeout(time);
                    time = setTimeout(logout, timeOut * 60 * 1000)
                }
            };

</script>
}





