@model MyTime.Models.AnnouncementModel

@{
    ViewBag.Title = MyTime.Resource.Announcement + " :: " + MyTime.Resource.Update;
    Layout = null;
}

<div class="modal-content">
    <div id="divForm" class="d-flex justify-content-center">

        <div class="card shadow" style="width:496px;">
            <div class="card-header bg-transparent">
                <h6> @ViewBag.Title </h6>
            </div>
            <div class="card-body">

                @using (Ajax.BeginForm(null, null, new AjaxOptions
                {
                    InsertionMode = InsertionMode.Replace,
                    AllowCache = false,
                    HttpMethod = "POST",
                    OnSuccess = "onSuccessProcess",
                    UpdateTargetId = "divCRUD",
                    LoadingElementId = "divSpinner",

                },
                new { @id = "formUpdate" }
                ))
                {
                    @Html.AntiForgeryToken()

                    @Html.HiddenFor(model => model.AnnouncementID)

                    <div class="form-horizontal">

                        @*@Html.ValidationSummary(true, "", new { @class = "text-danger" })*@

                        <div class="form-group row">
                            @Html.LabelFor(model => model.AnnouncementMessage, htmlAttributes: new { @class = "control-label col-md-12 required" })

                            <div class="col-md-12">
                                @Html.EditorFor(model => model.AnnouncementMessage, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.AnnouncementMessage, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group row">
                            @Html.LabelFor(model => model.AnnouncedOn, htmlAttributes: new { @class = "control-label col-md-12" })

                            <div class="col-md-12">
                                @Html.EditorFor(model => model.AnnouncedOn, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                            </div>

                        </div>

                        <div class="form-group row">
                            <div class="col-md-12 text-right">
                                <input type="submit" value="@MyTime.Resource.Update" class="btn btn-primary" />
                                <input id="btnCancel" type="button" value="@MyTime.Resource.Cancel" class="btn btn-warning" />
                            </div>
                        </div>

                    </div>

                }

            </div>

        </div>

    </div>
</div>