@model MyTime.ViewModels.UserViewModel

@{
    ViewBag.Title = MyTime.Resource.ChangePassword;
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="divForm" class="d-flex justify-content-center">

    <div class="card shadow" style="width:496px;">
        <div class="card-header bg-transparent">
            <h6> @ViewBag.Title </h6>
        </div>
        <div class="card-body">

            @using (Ajax.BeginForm(null, null, new AjaxOptions
            {
                InsertionMode = InsertionMode.Replace,
                AllowCache = false,
                HttpMethod = "POST",
                OnSuccess = "onSuccessProcess",
                UpdateTargetId = "divForm",
                LoadingElementId = "divSpinner",

            },
            new { @id = "formChangePassword" }
            ))
            {
                @Html.AntiForgeryToken()


                <div class="form-horizontal">

                    @*@Html.ValidationSummary(true, "", new { @class = "text-danger" })*@

                    @Html.HiddenFor(model => model.UserModel.NRIC)
                    @Html.HiddenFor(model => model.UserModel.RoleID)

                    <div class="form-group row">
                        @Html.LabelFor(model => model.ChangePasswordModel.PasswordNew, htmlAttributes: new { @class = "control-label col-md-12" })
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.ChangePasswordModel.PasswordNew, new { htmlAttributes = new { @class = "form-control", autocomplete = "off" } })
                            @Html.ValidationMessageFor(model => model.ChangePasswordModel.PasswordNew, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group row">
                        @Html.LabelFor(model => model.ChangePasswordModel.PasswordConfirm, htmlAttributes: new { @class = "control-label col-md-12" })

                        <div class="col-md-12">
                            @Html.EditorFor(model => model.ChangePasswordModel.PasswordConfirm, new { htmlAttributes = new { @class = "form-control", autocomplete = "off" } })
                            @Html.ValidationMessageFor(model => model.ChangePasswordModel.PasswordConfirm, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-md-12 text-right">
                            <input type="submit" value="@MyTime.Resource.Update" class="btn btn-primary" />
                            <input id="btnCancel" type="button" value="@MyTime.Resource.Cancel" class="btn btn-warning" />
                        </div>
                    </div>

                </div>

            }

        </div>

    </div>

</div>


<button type="button" id="btnToggleMessageModal" class="btn btn-primary" style="visibility:hidden;" data-toggle="modal" data-target="#messageModal">
</button>

<div class="modal fade" id="messageModal" tabindex="-1" role="Dialog">

    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@MyTime.Resource.MessageInfo</h5>
                @*<button type="button" id="btnCloseMessageModal" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>*@
            </div>
            <div class="modal-body">
                <p><label id="lblMessage"></label></p>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnCloseMessageModal" class="btn btn-primary" data-dismiss="modal">@MyTime.Resource.Close</button>
            </div>
        </div>
    </div>

</div>


@section styles {
    <link rel="stylesheet" href="~/Content/themes/base/jquery-ui.min.css">
}

@section Scripts{

    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script src="~/Scripts/moment.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    @*@Scripts.Render("~/bundles/custom-js")*@

    <script type="text/javascript">

        $(document).ready(function () {

            unloadSpinner();
            showDivBody();

            var btn = document.getElementById('btnToggleMessageModal');
            btn.innerText = '2';

                $('#btnCancel').on('click', function () {
                     history.go(-1);
                });

              $('#btnCloseMessageModal').on('click', function () {
                    var url = '@Url.Action("Index","home")';
                    window.location.href = url;
              });


        });


        function onSuccessProcess(result, status, xhr) {

            if (result.status == 1) {

                unloadSpinner();

                var btn = document.getElementById('btnToggleMessageModal');
                var lbl = document.getElementById('lblMessage');

                switch (btn.textContent.trim()) {
                    case '2':
                        lbl.innerText = '@MyTime.Resource.MessageSuccessUpdatePassword';
                        break;
                    default:
                         lbl.innerText = '@MyTime.Resource.MessageSuccessUpdatePassword';
                        break;
                };

                $('#btnToggleMessageModal').click();

            }

        };

    </script>
}


