@model MyTime.ViewModels.HomeViewModel

@{
    ViewBag.Title = MyTime.Resource.Home;
    Layout = Request.IsAjaxRequest() ? null : "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <nav class="bg-transparent" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active" aria-current="page">@MyTime.Resource.Home 1</li>
                </ol>
            </nav>
        </div>
        <div class="col-md-6">
            <div id="divAttendanceCardStatus" style="width: 100%; height: 50px; line-height: 50px; display: none; background-color: gold; text-align: center; font-size: 10pt;">
                @Html.Label(" ", htmlAttributes: new { @class = "control-label", @id = "lblAttendanceCardColour"}) 
            </div>
        </div>

    </div>

  
    <div class="row pt-2">
        <div class="col-md-3 pt-2">
            <div class="card shadow" style="height:9rem;">
                <div class="card-body">

                    <div class="row text-center" style="font-size:30px;">
                        <div class="col">
                            <i class="fa fa-sign-in"></i>
                        </div>
                        <div class="col" style="color:orange;">
                            @Model.AttendanceSummary.TotalLateIn
                        </div>
                    </div>

                    <div class="row pt-4 text-center">

                        <div class="col">
                            @MyTime.Resource.TotalLateIn
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-md-3 pt-2">
            <div class="card shadow" style="height:9rem;">
                <div class="card-body">

                    <div class="row text-center" style="font-size:30px;">
                        <div class="col">
                            <i class="fa fa-sign-out"></i>
                        </div>
                        <div class="col" style="color:orange;">
                            @Model.AttendanceSummary.TotalEarlyOut
                        </div>
                    </div>

                    <div class="row pt-4 text-center">

                        <div class="col">
                            @MyTime.Resource.TotalEarlyOut
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-md-3 pt-2">
            <div class="card shadow" style="height:9rem;">
                <div class="card-body">

                    <div class="row text-center" style="font-size:30px;">
                        <div class="col">
                            <div class="d-inline fa fa-sign-in"><i class="pl-1 fa fa-sign-out"></i></div>
                        </div>
                        <div class="col" style="color:orange;">
                            @Model.AttendanceSummary.TotalLateInEarlyOut
                        </div>
                    </div>

                    <div class="row pt-4 text-center">
                        <div class="col">
                            <div>  @MyTime.Resource.TotalLateInEarlyOut</div>
                        </div>
                    </div>

                </div>
            </div>
        </div>


        <div class="col-md-3 pt-2">
            <div class="card shadow" style="height:9rem;">
                <div class="card-body">

                    <div class="row text-center" style="font-size:30px;">
                        <div class="col">
                            <div class="d-inline fa fa-times"></div>
                        </div>
                        <div class="col" style="color:orange;">
                            @Model.AttendanceSummary.TotalIncomplete
                        </div>
                    </div>

                    <div class="row pt-4 text-center">
                        <div class="col">
                            <div>  @MyTime.Resource.TotalIncomplete </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>

    <div class="row">

        <div class="col-md-3 pt-2">
            <div class="card shadow" style="height:9rem;">
                <div class="card-body">

                    <div class="row text-center" style="font-size:30px;">
                        <div class="col">
                            <div class="d-inline fa fa-user"><i class="pl-1 fa fa-times"></i></div>
                        </div>
                        <div class="col" style="color:orange;">
                            @Model.AttendanceSummary.TotalAbsent
                        </div>
                    </div>

                    <div class="row pt-4 text-center">

                        <div class="col">
                            @MyTime.Resource.TotalAbsent
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-md-3 pt-2">
            <div class="card shadow" style="height:9rem;">
                <div class="card-body">

                    <div class="row text-center" style="font-size:30px;">
                        <div class="col">
                            <div class="d-inline fa fa-user"><i class="pl-1 fa fa-check"></i></div>
                        </div>
                        <div class="col" style="color:orange;">
                            @Model.AttendanceSummary.TotalAttend
                        </div>
                    </div>

                    <div class="row pt-4 text-center">
                        <div class="col">
                            @MyTime.Resource.TotalAttend
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-md-3 pt-2">
            <div class="card shadow" style="height:9rem;">
                <div class="card-body">

                    <div class="row text-center" style="font-size:30px;">
                        <div class="col">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <div class="col" style="color:orange;">
                            @Model.AttendanceSummary.TotalOnLeave
                        </div>
                    </div>

                    <div class="row pt-4 text-center">
                        <div class="col">
                            @MyTime.Resource.TotalOnLeave
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="col-md-3 pt-2">

            <!--<div class="card shadow" style="height:9rem;">
                <div class="card-body">

                    <div class="row text-center" style="font-size:30px;">
                        <div class="col">
                            @Html.Hidden(@Model.User.AttendanceCardStatus)

                            <i id="iconAttendanceCardStatus" class='icofont-address-book pr-1' style='color: yellow ; font-size:30px;' data-toggle='tooltip' data-placement='top' title='@MyTime.Resource.AttendanceCard'></i>-->
            @*@MyTime.Resource.Colour_Yellow*@
            @*<span style="font-size:18px;"></span>*@

            <!--</div>


                    </div>

                    <div class="row pt-4 text-center">
                        <div class="col">
                            @MyTime.Resource.AttendanceCardStatus
                        </div>
                    </div>

                </div>
            </div>-->

        </div>

    </div>

    @if (Model.ReasonApprovalSummaryList.Count > 0)
    {
        <div class="row">

            @for (int i = 0; i < Model.ReasonApprovalSummaryList.Count; i++)
            {

                <div class="col-md-6 pt-3">
                    <div class="card shadow">
                        <div class="card-header text-center">
                            <div class="row">
                                <div class="col-md-12">
                                    @MyTime.Resource.ReasonApprovalSummary
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    @*<span class="badge badge-primary" style="font-size:10pt;">September, 2021</span>*@
                                    @Model.ReasonApprovalSummaryList[i].MonthYear
                                </div>
                            </div>
                        </div>
                        <div class="card-body">


                            <div class="row text-left">
                                <div class="col-md-3" style="color:orange">
                                    <div class="row text-center">
                                        <div class="col-md-12">
                                            @MyTime.Resource.StatusPending
                                        </div>
                                    </div>
                                    <div class="row text-center">
                                        <div class="col-md-12 pt-1">
                                            <span class="badge badge-secondary" style="font-size:16pt;"> @Model.ReasonApprovalSummaryList[i].TotalPending.ToString()</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3" style="color:green">
                                    <div class="row  text-center">
                                        <div class="col-md-12">
                                            @MyTime.Resource.StatusApproved
                                        </div>
                                    </div>
                                    <div class="row text-center">
                                        <div class="col-md-12 pt-1">
                                            <span class="badge badge-secondary" style="font-size:16pt;"> @Model.ReasonApprovalSummaryList[i].TotalApproved.ToString()</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3" style="color:red">
                                    <div class="row  text-center">
                                        <div class="col-md-12">
                                            @MyTime.Resource.StatusRejected
                                        </div>
                                    </div>
                                    <div class="row text-center">
                                        <div class="col-md-12 pt-1">
                                            <span class="badge badge-secondary" style="font-size:16pt;"> @Model.ReasonApprovalSummaryList[i].TotalRejected.ToString()</span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3" style="color:indigo">
                                    <div class="row  text-center">
                                        <div class="col-md-12">
                                            @MyTime.Resource.StatusRequestedToAmend
                                        </div>
                                    </div>
                                    <div class="row text-center">
                                        <div class="col-md-12 pt-1">
                                            <span class="badge badge-secondary" style="font-size:16pt;"> @Model.ReasonApprovalSummaryList[i].TotalRequestedToAmend.ToString()</span>
                                        </div>
                                    </div>
                                </div>


                            </div>


                            <hr />

                            <div class="row text-center">
                                <div class="col-md-12">
                                    @MyTime.Resource.ApprovalDueDate :  @Model.ReasonApprovalSummaryList[i].ApprovalDueDate.ToString("dd/MM/yyyy")
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            }
        </div>
    }


    <div class="row">
        <div class="col-md-12 pt-3">

            @if (Model.AnnouncementList.Count > 0)
            {

                <div class="card shadow" style="background: #095f90;">
                    @*<div class="card shadow bg-dark">*@
                    <div class="card-header">
                        <div class="text-white d-flex align-items-center justify-content-center text-center" style="font-size:14px;">
                            @MyTime.Resource.Announcement
                        </div>
                    </div>
                    <div class="card-body">

                        <div id="announcement" class="carousel slide" data-ride="carousel" data-interval="10000">

                            <!-- Indicators -->
                            @*<ul class="carousel-indicators">

                                    @for (int i = 0; i < Model.AnnouncementList.Count; i++)
                                    {

                                        if (i == 0)
                                        {
                                            <li data-target="#announcement" data-slide-to=@i.ToString() class="active"></li>
                                        }
                                        else
                                        {
                                            <li data-target="#announcement" data-slide-to=@i.ToString()></li>
                                        }
                                    }

                                </ul>*@

                            <!-- The slideshow -->
                            <div class="carousel-inner">

                                @for (int i = 0; i < Model.AnnouncementList.Count; i++)
                                {

                                    if (i == 0)
                                    {
                                        <div class="carousel-item active">
                                            <div class="text-white d-flex align-items-center justify-content-center text-center" style="min-height:6rem; font-size:14px;">

                                                @Model.AnnouncementList[i].AnnouncementMessage
                                                <br /><br />
                                                @MyTime.Resource.AnnouncedOn :  @Model.AnnouncementList[i].AnnouncedOn.ToString("dd/MM/yyyy")
                                            </div>

                                        </div>
                                    }
                                    else
                                    {
                                        <div class="carousel-item">
                                            <div class="text-white d-flex align-items-center justify-content-center text-center" style="min-height:6rem;font-size:14px;">
                                                @Model.AnnouncementList[i].AnnouncementMessage
                                                <br /><br />
                                                @MyTime.Resource.AnnouncedOn : @Model.AnnouncementList[i].AnnouncedOn.ToString("dd/MM/yyyy")
                                            </div>
                                        </div>
                                    }
                                }

                            </div>

                            <!-- Left and right controls -->
                            <a class="carousel-control-prev" href="#announcement" data-slide="prev">
                                <span class="carousel-control-prev-icon"></span>
                                @*<span class="fa fa-angle-left text-dark" style="font-size:30px;"></span>*@
                            </a>
                            <a class="carousel-control-next" href="#announcement" data-slide="next">
                                <span class="carousel-control-next-icon text-dark"></span>
                                @*<span class="fa fa-angle-right text-dark"  style="font-size:30px;"></span>*@
                            </a>

                        </div>

                    </div>
                </div>


            }

        </div>
        @*<div class="col-md-6 pt-2">
            </div>*@
    </div>




</div>



@section Scripts{

    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/custom-js")

<script type="text/javascript">
        $(document).ready(function () {


        //var divAttendanceCardStatus = document.getElementById('divAttendanceCardStatus');
            var attendanceCardStatus = @Html.Raw(Json.Encode(Model.User.AttendanceCardStatus));

            //var attendanceCardColour = document.getElementById('AttendanceCardStatus');

            $('#lblAttendanceCardColour').text('@MyTime.Resource.AttendanceCardStatus');

        switch (attendanceCardStatus) {


            case 'YL':
                $('#iconAttendanceCardStatus').css({ 'color': 'gold', 'font-size': '40px' });
                $('#divAttendanceCardStatus').css({ "background-color": "gold" });

                //$('#lblAttendanceCardColour').text('@MyTime.Resource.Colour_Yellow');

                break;

            case 'GN':
                $('#iconAttendanceCardStatus').css({ 'color': 'green', 'font-size': '40px' });
                $('#divAttendanceCardStatus').css({ "background-color": "green" });

                   //$('#lblAttendanceCardColour').text('@MyTime.Resource.Colour_Green');

                    break;
            case 'RD':
                $('#iconAttendanceCardStatus').css({ 'color': 'red', 'font-size': '40px' });
                $('#divAttendanceCardStatus').css({ "background-color": "red" });

                 //$('#lblAttendanceCardColour').text('@MyTime.Resource.Colour_Red');

                    break;
            default:
                $('#iconAttendanceCardStatus').css({ 'color': 'gold', 'font-size': '40px' });
                $('#divAttendanceCardStatus').css({ "background-color": "gold" });


                  //$('#lblAttendanceCardColour').text('@MyTime.Resource.Colour_Yellow');

            }


            $('#divAttendanceCardStatus').fadeIn(4000);



            //toggleSidebar();
            unloadSpinner();
            showDivBody();

        });
</script>

}




