<!-- Sidebar  -->
<nav id="sidebar">

    <div class="sidebar-header">
        <a class="navbar-brand" rel="home" href="" title="MyTime Attendance System">
            <div class="row">
                <div class="col-4">
                    <img src="/images/kbs.png" width="50" height="50" />
                </div>
                <div class="col-8 text-center text-body appname-shadow">
                    MyTime
                </div>
            </div>

        </a>
    </div>

    <ul class="list-unstyled components">

        <li>
            <a id="linkHome" href="#"><i class="fa fa-home pr-1"></i> @MyTime.Resource.Home</a>
        </li>

        <li>
            <a id="linkHoliday" href=""><i class="fa fa-calendar pr-1"></i> @MyTime.Resource.Holiday</a>
        </li>

        <li>
            <a id="linkHoliday" href=""><i class="fa fa-calendar pr-1"></i> @MyTime.Resource.Holiday</a>
        </li>

        <li>
            <a href=""><i class="fa fa-wrench pr-1"></i> @MyTime.Resource.SystemSetting 12</a>
            <ul>
                <li>
                    <a id="linkDepartment" href=""><i class="pr-1"></i> @MyTime.Resource.Department</a>
                </li>
                <li>
                    <a id="linkUnit" href=""><i class="pr-1"></i> @MyTime.Resource.Unit</a>
                </li>
                <li>
                    <a id="linkRole" href=""><i class="pr-1"></i> @MyTime.Resource.Role</a>
                </li>
                <li>
                    <a id="linkReason" href=""><i class="pr-1"></i> @MyTime.Resource.Reason</a>
                </li>
                <li>
                    <a id="linkShift" href=""><i class="pr-1"></i> @MyTime.Resource.Shift</a>
                </li>
            </ul>
        </li>


        @*<li class="child">
            <a href="#ssSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-wrench pr-1"></i> @MyTime.Resource.SystemSetting</a>
            <ul class="collapse list-unstyled" id="ssSubmenu">
                <li>
                    <a id="linkDepartment" href=""><i class="pr-1"></i> @MyTime.Resource.Department</a>
                </li>
                <li>
                    <a id="linkUnit" href=""><i class="pr-1"></i> @MyTime.Resource.Unit</a>
                </li>
                <li>
                    <a id="linkRole" href=""><i class="pr-1"></i> @MyTime.Resource.Role</a>
                </li>
                <li>
                    <a id="linkReason" href=""><i class="pr-1"></i> @MyTime.Resource.Reason</a>
                </li>
                <li>
                    <a id="linkShift" href=""><i class="pr-1"></i> @MyTime.Resource.Shift</a>
                </li>
            </ul>
        </li>*@

    </ul>

</nav>


@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/jquery")

<script type="text/javascript">

    $(document).ready(function () {

    });


</script>



