@model MyTime.ViewModels.DepartmentAttendanceDailySummaryViewModel

@{
    ViewBag.Title = MyTime.Resource.DepartmentAttendanceDailySummary;

    Layout = "~/Views/Shared/_Layout.cshtml";

}

<div class="container-fluid">

    <div class="row">
        <div class="col">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item" aria-current="page">@MyTime.Resource.Report</li>
                    <li class="breadcrumb-item active" aria-current="page">@ViewBag.Title</li>
                </ol>
            </nav>
        </div>
    </div>

    <div class="row">

        <div id="divList" class="col-md-12">

            <div class="card shadow">
                <div class="card-header bg-transparent text-center">

                    <div class="form-horizontal">

                        <div class="form-group row text-center">
                            <div class="col-md-12">
                                <h5>@ViewBag.Title</h5>
                            </div>
                        </div>

                        <hr />

                        <div class="form-group row text-left">
                            <div class="col-md-auto">
                                <div>
                                    @Html.Label(MyTime.Resource.Date, htmlAttributes: new { @class = "control-label required" })

                                </div>
                                <div class="row D-flex align-items-start pl-3">
                                    <div class="pb-2">
                                        @Html.EditorFor(model => model.AttendanceDate, new { htmlAttributes = new { @style = "width:100px;", @class = "form-control datepicker", @id = "dteAttendance", autocomplete = "off", data_val = "false" } })

                                    </div>
                                    <div>
                                        <span class="pl-2"></span>
                                        <input id="btnGenerate" type="button" value="@MyTime.Resource.Generate" class="btn btn-primary text-center" style="min-width:80px;" />
                                        <span class="pl-1"></span>
                                        <input id="btnReset" type="button" value="@MyTime.Resource.Reset" class="btn btn-warning text-center" style="min-width: 80px;" />
                                        <span class="pl-1"></span>
                                        <input id="btnPrint" type="button" value="@MyTime.Resource.Print" class="btn btn-info text-black text-center" style="min-width: 80px;" onclick="location.href='@Url.Action("PrintDepartmentAttendanceDailySummary", "DepartmentAttendanceDailySummary" )'" />
                                    </div>
                                </div>
                            </div>

                        </div>


                        <div class="form-group pt-2 row">
                            <div class="col-12 d-flex justify-content-end">
                                @Html.Label(MyTime.Resource.TotalUserCount, htmlAttributes: new { @class = "control-label pr-1" })
                                <span class="badge badge-secondary" style="font-size:12pt;"> @Html.Label("0", htmlAttributes: new { @class = "control-label p-0 text-center", @id = "TotalUserCount" }) </span>

                                @*@Html.Label(MyTime.Resource.TotalInCount, htmlAttributes: new { @class = "control-label pl-2 pr-1" })
                                <span class="badge badge-secondary" style="font-size:12pt;"> @Html.Label("0", htmlAttributes: new { @class = "control-label p-0", @id = "TotalInCount" }) </span>

                                @Html.Label(MyTime.Resource.TotalOutCount, htmlAttributes: new { @class = "control-label pl-2 pr-1" })
                                <span class="badge badge-secondary" style="font-size:12pt;"> @Html.Label("0", htmlAttributes: new { @class = "control-label p-0", @id = "TotalOutCount" }) </span>*@

                                @Html.Label(MyTime.Resource.TotalAttendCount, htmlAttributes: new { @class = "control-label pl-2 pr-1" })
                                <span class="badge badge-secondary" style="font-size:12pt;"> @Html.Label("0", htmlAttributes: new { @class = "control-label p-0", @id = "TotalAttendCount" }) </span>

                                @Html.Label(MyTime.Resource.TotalAttendPercentage, htmlAttributes: new { @class = "control-label pl-2 pr-1" })
                                <span class="badge badge-secondary" style="font-size:12pt;"> @Html.Label("0", htmlAttributes: new { @class = "control-label p-0", @id = "TotalAttendPercentage" }) </span>

                            </div>
                        </div>

                    </div>

                    <hr />

                    <div class="card-body pt-0">

                        <table id="listDatatable" class="table table-striped hover" style="table-layout: fixed;">
                            <thead>

                                <tr class="text-white header-bg-color">
                                    <th>@MyTime.Resource.DepartmentName</th>
                                    <th>@MyTime.Resource.UserCount</th>
                                    <th>@MyTime.Resource.In</th>
                                    <th>@MyTime.Resource.Out</th>
                                    <th>@MyTime.Resource.Attend</th>
                                    <th>@MyTime.Resource.AttendPercentage</th>                                  
                                </tr>
                            </thead>
                        </table>

                    </div>
                </div>
            </div>

        </div>

        @*<div id="divCRUD" class="col-md-6 hide">
            </div>*@<div id="divCRUD" class="col-md-6 hide">
        </div><div id="divCRUD" class="col-md-6 hide">
        </div>


        <div class="modal fade" id="modalCRUD" role="dialog" data-backdrop="static" keyboard="false">
            <div class="modal-dialog">
                <div id="divCRUD">
                </div>
            </div>
        </div>

    </div>

    <input type=hidden id="pid" value="" />
</div>

@section styles
                                    {
    @Styles.Render("~/Content/dataTables")
    <link rel="stylesheet" href="~/Content/themes/base/jquery-ui.min.css">
}

@section Scripts {

    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    @Scripts.Render("~/bundles/dataTables")
    <script src="~/Scripts/moment.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    @*@Scripts.Render("~/bundles/custom-js")*@

    <script type="text/javascript">


        var customDatatable;
        var dataList;

        function convertToDate(data) {

                var dte = new Date(parseInt(data.substr(6)));
                var dteWrapper = moment(dte);
                return dteWrapper.format("DD/MM/YYYY");
        };

    $(document).ready(function () {

            //toggleSidebar();
            unloadSpinner();
            showDivBody();

            var culture = '@System.Globalization.CultureInfo.CurrentCulture.Name';
            $('.datepicker').datepicker(setDateTimePickerLocale(culture));

            $('#btnGenerate').prop('disabled', false);
            $('#btnReset').prop('disabled', true);
            $('#btnPrint').prop('disabled', true);

            var culture = '@System.Globalization.CultureInfo.CurrentCulture.Name';

            var locale_norecord = '';
            var locale_lengthmenu = '';
            var locale_info = '';
            var locale_search = '';
            var locale_first = '';
            var locale_previous = '';
            var locale_next = '';
            var locale_last = '';
            var locale_infofiltered = '';

            if (culture != 'ms-MY') {
                //locale_norecord = '- No record -';
                locale_norecord = '-';
                locale_lengthmenu = 'Display _MENU_';
                //locale_info = 'Showing page _PAGE_ of _PAGES_';
                locale_info = 'Record# _START_~_END_  of _TOTAL_';
                locale_search = '';

                locale_infofiltered = '';

                locale_first = 'First';
                locale_previous = 'Previous';
                locale_next = 'Next';
                locale_last = 'Last';
            }
            else {
                //locale_norecord = '- Tidak ada rekod -';
                locale_norecord = '-';
                locale_lengthmenu = 'Paparan _MENU_ ';
                //locale_info = 'Menunjukkan halaman _PAGE_ dari _PAGES_';
                locale_info = 'Rekod# _START_~_END_ daripada _TOTAL_';
                locale_search = '';

                locale_infofiltered = '';

                locale_first = 'Pertama';
                locale_previous = 'Sebelumnya';
                locale_next = 'Seterusnya';
                locale_last = 'Terakhir';

            };

        customDatatable = $('#listDatatable').DataTable(
                {
                //dom: '<"panel panel-default"<"panel-heading"<"row"<"col-md-12"f>><"row"<"col-md-2"B><"col-md-10 text-right"i>>>t<"panel-footer"<"row pt-2"<"col-md-6 text-left"l><"col-md-6 text-right"p>>>>',
                dom: '<"panel panel-default"<"panel-heading"<"row"<"col-md-12 d-flex justify-content-end text-left"f>><"row"<"col-md-2"B><"col-md-10 d-flex justify-content-end text-right"i>>>t<"panel-footer"<"row pt-1"<"col-md-4 d-flex justify-content-start text-left"l>"<"col-md-8 d-flex justify-content-end text-left"p>>>>',
                buttons:
                        [
                        ],
                    autoWidth: false,
                    scrollX: true,
                    scrollY: true,
                    //pageLength: 30,
                    //responsive: true,
                language: {
                    "lengthMenu": locale_lengthmenu,
                    "zeroRecords": locale_norecord,
                    "info": locale_info,
                    "infoEmpty": locale_norecord,
                    "infoFiltered": locale_infofiltered,
                    "search": locale_search,
                    "paginate": {
                        "first": locale_first,
                        "previous": locale_previous,
                        "next": locale_next,
                        "last": locale_last
                    }
                },
                data: '',
                rowId: 'AttendanceDate',
                    columns: [                   
                    { "data": "DepartmentName" },
                    { "data": "UserCount" },
                    { "data": "InCount" },
                    { "data": "OutCount" },                   
                    { "data": "AttendCount" },
                    { "data": "AttendPercentage" }                  
                ],
                    columnDefs: [
                    { targets: 0, className: 'text-left', width: '350px', orderable: true },
                    { targets: 1, className: 'text-center', width: '80px', orderable: true },
                    { targets: 2, className: 'text-center', width: '80px', orderable: true, visible: false },
                    { targets: 3, className: 'text-center', width: '80px', orderable: true, visible: false },
                    { targets: 4, className: 'text-center', width: '80px', orderable: true },
                    { targets: 5, className: 'text-center', width: '80px', orderable: true }                    
                ],
                order: [[0, 'asc']]
            });

            $('#btnGenerate').click(function () {

                GenerateAttendanceList();

            });

            $('#btnReset').click(function () {


                var totalUserCount = document.getElementById('TotalUserCount');
                totalUserCount.innerHTML = "0";

                //var totalInCount = document.getElementById('TotalInCount');
                //totalInCount.innerHTML = "0";

                //var totalOutCount = document.getElementById('TotalOutCount');
                //totalOutCount.innerHTML = "0";

                var totalAttendCount = document.getElementById('TotalAttendCount');
                totalAttendCount.innerHTML = "0";

                var totalAttendPercentage = document.getElementById('TotalAttendPercentage');
                totalAttendPercentage.innerHTML = "0";
                                              
                customDatatable.clear().draw();

                $('#dteAttendance').prop('disabled', false);
                $('#ddlDepartment').prop('disabled', false);
                $('#btnGenerate').prop('disabled', false);
                $('#btnReset').prop('disabled', true);
                $('#btnPrint').prop('disabled', true);
            });

    });

        function GenerateAttendanceList() {

            loadSpinner();

            var selectedAttendanceDate = $('#dteAttendance').val();
          
            $.ajax({
                datatype: 'text/plain',
                type: 'GET',
                url: 'DepartmentAttendanceDailySummary/GenerateAttendanceList',
                data: { selectedAttendanceDate: selectedAttendanceDate },
                cache: false,
                dataType: "json",
                success: function (data) {

                    unloadSpinner();

                    if (data != null) {
                        customDatatable.clear().rows.add(data).draw(false);
                    }
                    else {
                        customDatatable.clear().draw(false);
                    }

                    $('#dteAttendance').prop('disabled', true);
                    $('#ddlDepartment').prop('disabled', true);
                    $('#btnGenerate').prop('disabled', true);
                    $('#btnReset').prop('disabled', false);
                    $('#btnPrint').prop('disabled', false);

                    GetAttendanceSummary();

                }
            });
    };

    function GetAttendanceSummary() {

        $.ajax({
            datatype: 'text/plain',
            type: 'GET',
            url: 'DepartmentAttendanceDailySummary/GetAttendanceSummary',
            cache: false,
            dataType: "json",
            success: function (data) {

                var totalUserCount = document.getElementById('TotalUserCount');
                totalUserCount.innerHTML = data.TotalUserCount;

                //var totalInCount = document.getElementById('TotalInCount');
                //totalInCount.innerHTML = data.TotalInCount;

                //var totalOutCount = document.getElementById('TotalOutCount');
                //totalOutCount.innerHTML = data.TotalOutCount;

                var totalAttendCount = document.getElementById('TotalAttendCount');
                totalAttendCount.innerHTML = data.TotalAttendCount;

                var totalAttendPercentage = document.getElementById('TotalAttendPercentage');
                totalAttendPercentage.innerHTML = data.TotalAttendPercentage;
                                
            }
        });
    };

    </script>
}








