@model MyTime.ViewModels.ReasonApprovalViewModel


@{
    ViewBag.Title = MyTime.Resource.ApproveReason;

    Layout = "~/Views/Shared/_Layout.cshtml";

}

<div class="container-fluid">

    <div class="row">
        <div class="col">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active" aria-current="page">@ViewBag.Title</li>
                </ol>
            </nav>
        </div>
    </div>

    <div class="row">

        <div id="divList" class="col-md-12">

            <div class="card shadow">
                <div class="card-header bg-transparent text-center">

                    <div class="form-horizontal">

                        <div class="form-group row text-center">
                            <div class="col-md-12">
                                <h5>@MyTime.Resource.ReasonApproval</h5>
                            </div>
                        </div>

                        <hr />

                        <div class="form-group row text-left">

                            <div>
                                @Html.Label(MyTime.Resource.Month, htmlAttributes: new { @class = "control-label col-md-12" })

                                <div class="col-12 d-flex justify-content-start">
                                    @Html.DropDownList("MonthYear", Model.SelectListMonthYear as List<SelectListItem>, MyTime.Resource.PleaseSelect, htmlAttributes: new { @style = "width:150px;", @class = "form-control", @id = "ddlMonthYear" })
                                </div>
                            </div>

                            <div>
                                @Html.Label(MyTime.Resource.DepartmentName, htmlAttributes: new { @class = "control-label col-md-12" })

                                <div class="col-12 d-flex justify-content-start">
                                    @Html.DropDownList("Department", Model.SelectListDepartment as List<SelectListItem>, MyTime.Resource.PleaseSelect, htmlAttributes: new { @style = "width:250px;", @class = "form-control", @id = "ddlDepartment" })
                                    <span class="pl-2"></span>
                                    <input id="btnGenerate" type="button" value="@MyTime.Resource.Generate" class="btn btn-primary text-center" style="width:80px;" />
                                    <span class="pl-1"></span>
                                    <input id="btnReset" type="button" value="@MyTime.Resource.Reset" class="btn btn-warning text-center" style="width:80px;" />
                                    @*<span class="pl-1"></span>
                                        <input id="btnPrint" type="button" value="@MyTime.Resource.Print" class="btn btn-info text-black text-center" style="width:80px;" onclick="location.href='@Url.Action("PrintAttendanceMonthlyReport", "Attendance")'" />*@

                                </div>
                            </div>

                        </div>

                        <div class="form-group row pt-3">
                            <div class="col-12 d-flex justify-content-start">
                                @Html.Label(MyTime.Resource.ApprovalDueDate + " : -", htmlAttributes: new { @class = "control-label pr-2", @id = "ApprovalDueDate" })
                            </div>
                        </div>

                    </div>

                    <hr />

                    <div class="card-body pt-0">

                        <nav>
                            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                <a class="nav-item nav-link active" id="nav-pending-tab" data-toggle="tab" href="#nav-pending" role="tab" aria-controls="nav-pending" aria-selected="true" style="color:orange">@MyTime.Resource.StatusPending   <span class="badge badge-secondary" style="font-size:12pt;"> @Html.Label("0", htmlAttributes: new { @class = "control-label p-0 text-center", @id = "TotalPending" }) </span></a>
                                <a class="nav-item nav-link" id="nav-approved-tab" data-toggle="tab" href="#nav-approved" role="tab" aria-controls="nav-approved" aria-selected="false" style="color:green">@MyTime.Resource.StatusApproved   <span class="badge badge-secondary" style="font-size:12pt;"> @Html.Label("0", htmlAttributes: new { @class = "control-label p-0 text-center", @id = "TotalApproved" }) </span></a>
                                <a class="nav-item nav-link" id="nav-rejected-tab" data-toggle="tab" href="#nav-rejected" role="tab" aria-controls="nav-rejected" aria-selected="false" style="color:red">@MyTime.Resource.StatusRejected   <span class="badge badge-secondary" style="font-size:12pt;"> @Html.Label("0", htmlAttributes: new { @class = "control-label p-0 text-center", @id = "TotalRejected" }) </span></a>
                                <a class="nav-item nav-link" id="nav-requestedtoamend-tab" data-toggle="tab" href="#nav-requestedtoamend" role="tab" aria-controls="nav-requestedtoamend" aria-selected="false" style="color:indigo">@MyTime.Resource.StatusRequestedToAmend   <span class="badge badge-secondary" style="font-size:12pt;"> @Html.Label("0", htmlAttributes: new { @class = "control-label p-0 text-center", @id = "TotalRequestedToAmend" }) </span></a>
                            </div>
                        </nav>
                        <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane fade show active" id="nav-pending" role="tabpanel" aria-labelledby="nav-pending-tab">
                                <table id="listPendingDatatable" class="table table-striped hover" style="table-layout: fixed;">
                                    <thead>
                                        <tr class="text-white header-bg-color">
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th>@MyTime.Resource.Date</th>
                                            <th>@MyTime.Resource.Day</th>
                                            <th>@MyTime.Resource.UserName</th>
                                            <th>@MyTime.Resource.NRIC</th>
                                            <th>@MyTime.Resource.AttendanceStatusID</th>
                                            <th>@MyTime.Resource.AttendanceStatus</th>
                                            <th>@MyTime.Resource.FirstIn</th>
                                            <th>@MyTime.Resource.Lateness</th>
                                            <th>@MyTime.Resource.LastOut</th>
                                            <th>@MyTime.Resource.WorkTime</th>
                                            <th>@MyTime.Resource.Overtime</th>
                                            <th>@MyTime.Resource.ReasonID</th>
                                            <th>@MyTime.Resource.Reason</th>
                                            <th>@MyTime.Resource.ReceivedOn</th>
                                            <th>@MyTime.Resource.ApprovalDueDate</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>


                            <div class="tab-pane fade" id="nav-approved" role="tabpanel" aria-labelledby="nav-approved-tab">
                                <table id="listApprovedDatatable" class="table table-striped hover" style="table-layout: fixed;">
                                    <thead>
                                        <tr class="text-white header-bg-color">
                                            <th>@MyTime.Resource.Date</th>
                                            <th>@MyTime.Resource.Day</th>
                                            <th>@MyTime.Resource.UserName</th>
                                            <th>@MyTime.Resource.NRIC</th>
                                            <th>@MyTime.Resource.AttendanceStatusID</th>
                                            <th>@MyTime.Resource.AttendanceStatus</th>
                                            <th>@MyTime.Resource.FirstIn</th>
                                            <th>@MyTime.Resource.Lateness</th>
                                            <th>@MyTime.Resource.LastOut</th>
                                            <th>@MyTime.Resource.WorkTime</th>
                                            <th>@MyTime.Resource.Overtime</th>
                                            <th>@MyTime.Resource.ReasonID</th>
                                            <th>@MyTime.Resource.Reason</th>
                                            <th>@MyTime.Resource.ReceivedOn</th>
                                            <th>@MyTime.Resource.ApprovalDueDate</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                            <div class="tab-pane fade" id="nav-rejected" role="tabpanel" aria-labelledby="nav-rejected-tab">
                                <table id="listRejectedDatatable" class="table table-striped hover" style="table-layout: fixed;">
                                    <thead>
                                        <tr class="text-white header-bg-color">
                                            <th>@MyTime.Resource.Date</th>
                                            <th>@MyTime.Resource.Day</th>
                                            <th>@MyTime.Resource.UserName</th>
                                            <th>@MyTime.Resource.NRIC</th>
                                            <th>@MyTime.Resource.AttendanceStatusID</th>
                                            <th>@MyTime.Resource.AttendanceStatus</th>
                                            <th>@MyTime.Resource.FirstIn</th>
                                            <th>@MyTime.Resource.Lateness</th>
                                            <th>@MyTime.Resource.LastOut</th>
                                            <th>@MyTime.Resource.WorkTime</th>
                                            <th>@MyTime.Resource.Overtime</th>
                                            <th>@MyTime.Resource.ReasonID</th>
                                            <th>@MyTime.Resource.Reason</th>
                                            <th>@MyTime.Resource.ReceivedOn</th>
                                            <th>@MyTime.Resource.ApprovalDueDate</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                            <div class="tab-pane fade" id="nav-requestedtoamend" role="tabpanel" aria-labelledby="nav-requestedtoamend-tab">
                                <table id="listRequestedToAmendDatatable" class="table table-striped hover" style="table-layout: fixed;">
                                    <thead>
                                        <tr class="text-white header-bg-color">
                                            <th>@MyTime.Resource.Date</th>
                                            <th>@MyTime.Resource.Day</th>
                                            <th>@MyTime.Resource.UserName</th>
                                            <th>@MyTime.Resource.NRIC</th>
                                            <th>@MyTime.Resource.AttendanceStatusID</th>
                                            <th>@MyTime.Resource.AttendanceStatus</th>
                                            <th>@MyTime.Resource.FirstIn</th>
                                            <th>@MyTime.Resource.Lateness</th>
                                            <th>@MyTime.Resource.LastOut</th>
                                            <th>@MyTime.Resource.WorkTime</th>
                                            <th>@MyTime.Resource.Overtime</th>
                                            <th>@MyTime.Resource.ReasonID</th>
                                            <th>@MyTime.Resource.Reason</th>
                                            <th>@MyTime.Resource.ReceivedOn</th>
                                            <th>@MyTime.Resource.ApprovalDueDate</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="modal fade" id="modalCRUD" role="dialog" data-backdrop="static" keyboard="false">
            <div class="modal-dialog">
                <div id="divCRUD">
                </div>
            </div>
        </div>

        @*<div id="divCRUD" class="col-md-6 hide">
            </div>*@

    </div>

    <input type=hidden id="pid" value="" />
</div>

@section styles
                                    {
    @Styles.Render("~/Content/dataTables")
    <link rel="stylesheet" href="~/Content/themes/base/jquery-ui.min.css">
}

@section Scripts {

    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    @Scripts.Render("~/bundles/dataTables")
    <script src="~/Scripts/moment.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    @*@Scripts.Render("~/bundles/custom-js")*@

    <script type="text/javascript">

        var pendingDatatable;
        var approvedDatatable;
        var rejectedDatatable;
        var requestedoamendDatatable;

        var locale_norecord = '';
        var locale_lengthmenu = '';
        var locale_info = '';
        var locale_search = '';
        var locale_first = '';
        var locale_previous = '';
        var locale_next = '';
        var locale_last = '';
        var locale_infofiltered = '';

        var dataList;

        function convertToDate(data) {

                var dte = new Date(parseInt(data.substr(6)));
                var dteWrapper = moment(dte);
                return dteWrapper.format("DD/MM/YYYY");
        };

        $(document).ready(function () {

            //toggleSidebar();
            unloadSpinner();
            showDivBody();


            $('#btnGenerate').prop('disabled', true);
            $('#btnReset').prop('disabled', true);
            $('#btnPrint').prop('disabled', true);


            $('#ddlMonthYear').change(function () {

                var monthyear;
                var department = $("#ddlDepartment option:selected").val();


                $('#ddlMonthYear option:selected').each(function () {
                    monthyear = $(this)[0].value;

                    if (monthyear != '' && department != '') {
                        $('#btnGenerate').prop('disabled', false);
                    }
                    else {
                        $('#btnGenerate').prop('disabled', true);
                    }
                });

            });


            $('#ddlDepartment').change(function () {

                var monthyear = $("#ddlMonthYear option:selected").val();
                var department;

                $('#ddlDepartment option:selected').each(function () {

                    department = $(this)[0].value;

                    if (monthyear != '' && department != '' ) {
                        $('#btnGenerate').prop('disabled', false);
                    }
                    else {
                        $('#btnGenerate').prop('disabled', true);
                    }
                });

            });

            initializeUI();
            setDataTableLocale();

            initializePendingTable();
            initializeApprovedTable();
            initializeRejectedTable();
            initializeRequestedToAmendTable();

            $('#btnGenerate').click(function () {

                //GeneratePendingList();
                //GenerateApprovedList();
                //GenerateRejectedList();
                //GenerateRequestedToAmendList();

                GeneratePendingList();


            });

            $('#btnReset').click(function () {

                pendingDatatable.clear().draw(false);
                approvedDatatable.clear().draw(false);
                rejectedDatatable.clear().draw(false);
                requestedtoamendDatatable.clear().draw(false);

                initializeUI();

                $('#ddlMonthYear').prop('disabled', false);
                $('#ddlDepartment').prop('disabled', false);

                $('#btnGenerate').prop('disabled', false);
                $('#btnReset').prop('disabled', true);
                $('#btnPrint').prop('disabled', true);
            });


        });

     function initializeUI() {

        var approvalDueDate = document.getElementById('ApprovalDueDate');
        approvalDueDate.innerHTML = '@MyTime.Resource.ApprovalDueDate' + ' : -';

        var totalPending= document.getElementById('TotalPending');
        totalPending.innerHTML = "0";

        var totalApproved = document.getElementById('TotalApproved');
        totalApproved.innerHTML = "0";

        var totalRejected = document.getElementById('TotalRejected');
        totalRejected.innerHTML = "0";

        var totalRequestedToAmend = document.getElementById('TotalRequestedToAmend');
        totalRequestedToAmend.innerHTML = "0";

    };


    function setDataTableLocale() {

            var culture = '@System.Globalization.CultureInfo.CurrentCulture.Name';

            if (culture != 'ms-MY') {
                locale_norecord = '- No record -';
                //locale_norecord = '-';
                locale_lengthmenu = 'Display _MENU_';
                //locale_info = 'Showing page _PAGE_ of _PAGES_';
                locale_info = 'Record# _START_~_END_  of _TOTAL_';
                locale_search = '';

                locale_infofiltered = '';

                locale_first = 'First';
                locale_previous = 'Previous';
                locale_next = 'Next';
                locale_last = 'Last';
            }
            else {
                locale_norecord = '- Tidak ada rekod -';
                //locale_norecord = '-';
                locale_lengthmenu = 'Paparan _MENU_ ';
                //locale_info = 'Menunjukkan halaman _PAGE_ dari _PAGES_';
                locale_info = 'Rekod# _START_~_END_ daripada _TOTAL_';
                //locale_search = '';

                locale_infofiltered = '';

                locale_first = 'Pertama';
                locale_previous = 'Sebelumnya';
                locale_next = 'Seterusnya';
                locale_last = 'Terakhir';

            };


    };


    function initializePendingTable() {


            pendingDatatable = $('#listPendingDatatable').DataTable({
                //dom: '<"panel panel-default"<"panel-heading"<"row pt-2"<"col-md-12"f>><"row"<"col-md-2"B><"col-md-10 text-right"i>>>t<"panel-footer"<"row pt-2"<"col-md-6 text-left"l><"col-md-6 text-right"p>>>>',
                dom: '<"panel panel-default"<"panel-heading"<"row pt-2"<"col-md-12 d-flex justify-content-end text-left"f>><"row"<"col-md-2"B><"col-md-10 d-flex justify-content-end text-right"i>>>t<"panel-footer"<"row pt-1"<"col-md-4 d-flex justify-content-start text-left"l>"<"col-md-8 d-flex justify-content-end text-left"p>>>>',
                    buttons:
                        [
                        ],
                    autoWidth: false,
                    scrollX: true,
                    scrollY: true,
                language: {
                    "lengthMenu": locale_lengthmenu,
                    "zeroRecords": locale_norecord,
                    "info": locale_info,
                    "infoEmpty": locale_norecord,
                    "infoFiltered": locale_infofiltered,
                    "search": locale_search,
                    "paginate": {
                        "first": locale_first,
                        "previous": locale_previous,
                        "next": locale_next,
                        "last": locale_last
                    }
                },
                data: '',
                rowId: 'AttendanceDate',
                columns: [
                    {
                        "render": function (data, type, full, meta)
                        {
                            return "<a href='#'  onclick='ApproveReasonProcess(" + '"' + meta.row + '"' + ");'> <i class='icofont-verification-check' style='color: green; font-size: 14px;' data-toggle='tooltip' data-placement='top' title='@MyTime.Resource.Approve'></i> </a>";
                        }
                    },
                    {
                        "render": function (data, type, full, meta)
                        {
                            return "<a href='#'  onclick='RejectReasonProcess(" + '"' + meta.row + '"' + ");'> <i class='icofont-error' style='color: red; font-size:14px;' data-toggle='tooltip' data-placement='top' title='@MyTime.Resource.Reject'></i> </a>";
                        }
                    },
                    {
                         "render": function (data, type, full, meta)
                        {
                            return "<a href='#'  onclick=' RequestToAmendProcess(" + '"' + meta.row + '"' + ");'> <i class='icofont-ui-edit' style='color: purple; font-size:14px;' data-toggle='tooltip' data-placement='top' title='@MyTime.Resource.RequestToAmend'></i> </a>";
                        }

                    },
                    {
                        "data": "AttendanceDate", "render": function (data) { return convertToDate(data); }
                    },
                    { "data": "AttendanceDay" },
                    { "data": "UserName" },
                    { "data": "NRIC" },
                    {
                        "data": "AttendanceStatusID", function(data) {
                            attendanceStatusID = data;
                            return data;
                        }
                    },
                    { "data": "AttendanceStatus" },
                    {
                        "data": "FirstIn", "render": function (data, type, row) {

                            var attendanceStatusID = row.AttendanceStatusID;

                            if (attendanceStatusID == 'LIN' || attendanceStatusID == 'L/E' || attendanceStatusID=='ICP') {
                                return '<span style="color:red">' + data + '</span>';
                            }
                            else {
                                return data;
                            }
                        }
                    },
                    { "data": "Lateness" },
                    {
                        "data": "LastOut", "render": function (data, type, row) {

                            var attendanceStatusID = row.AttendanceStatusID;

                            if (attendanceStatusID == 'EOT' || attendanceStatusID == 'L/E') {
                                return '<span style="color:red">' + data + '</span>';
                            }
                            else {
                                return  data;
                            }

                        }
                    },
                    { "data": "WorkTime" },
                    { "data": "Overtime" },
                    { "data": "ReasonID" },
                    {
                        "render": function (data, type, row, meta) {

                                if (row.Remark == '') {
                                    return row.ReasonName;
                                }
                                else {

                                    return row.ReasonName + "<br/>" + "[ " + row.Remark + " ]";
                                };


                            return '';

                        }
                    },
                    {
                      "data": "ReceivedOn", "render": function (data) { return convertToDate(data); }
                     },
                    {
                      "data": "ApprovalDueDate", "render": function (data) { return convertToDate(data); }
                    },
                    { "data": "IsApprovalDue" }
                ],
                columnDefs: [
                        { targets: 0, className: 'text-center', width: '20px', orderable: false },
                        { targets: 1, className: 'text-center', width: '20px', orderable: false },
                        { targets: 2, className: 'text-center', width: '20px', orderable: false },
                        { targets: 3, type: 'date-euro', className: 'text-center', width: '80px', orderable: true },
                        { targets: 4, className: 'text-center', width: '40px', orderable: true },
                        { targets: 5, className: 'text-left', width: '250px', orderable: true },
                        { targets: 6, className: 'text-left', width: '150px', orderable: true },
                        { targets: 7, className: 'text-center', width: '40px', orderable: true, visible:false},
                        { targets: 8, className: 'text-center', width: '120px', orderable: true },
                        { targets: 9, className: 'text-center', width: '50px', orderable: true },
                        { targets: 10, className: 'text-center', width: '50px', orderable: true, visible: false},
                        { targets: 11, className: 'text-center', width: '50px', orderable: true },
                        { targets: 12, className: 'text-center', width: '60px', orderable: true, visible: true },
                        { targets: 13, className: 'text-center', width: '60px', orderable: true },
                        { targets: 14, className: 'text-center', width: '50px', orderable: true, visible: false },
                        { targets: 15, className: 'text-left', width: '150px', orderable: true },
                        { targets: 16, type: 'date-euro', className: 'text-center', width: '80px', orderable: true },
                        { targets: 17, type: 'date-euro', className: 'text-center', width: '80px', orderable: true, visible: false },
                        { targets: 18, className: 'text-center', width: '40px', orderable: true, visible: false }
                ],
                order: [[3, 'asc']]

            });

        };


    function initializeApprovedTable() {

            approvedDatatable = $('#listApprovedDatatable').DataTable({
                //dom: '<"panel panel-default"<"panel-heading"<"row pt-2"<"col-md-12"f>><"row"<"col-md-2"B><"col-md-10 text-right"i>>>t<"panel-footer"<"row pt-2"<"col-md-6 text-left"l><"col-md-6 text-right"p>>>>',
                dom: '<"panel panel-default"<"panel-heading"<"row pt-2"<"col-md-12 d-flex justify-content-end text-left"f>><"row"<"col-md-2"B><"col-md-10 d-flex justify-content-end text-right"i>>>t<"panel-footer"<"row pt-1"<"col-md-4 d-flex justify-content-start text-left"l>"<"col-md-8 d-flex justify-content-end text-left"p>>>>',
                buttons:
                        [
                        ],
                    autoWidth: false,
                    scrollX: true,
                    scrollY: true,
                language: {
                    "lengthMenu": locale_lengthmenu,
                    "zeroRecords": locale_norecord,
                    "info": locale_info,
                    "infoEmpty": locale_norecord,
                    "infoFiltered": locale_infofiltered,
                    "search": locale_search,
                    "paginate": {
                        "first": locale_first,
                        "previous": locale_previous,
                        "next": locale_next,
                        "last": locale_last
                    }
                },
                data: '',
                rowId: 'AttendanceDate',
                columns: [
                    {
                        "data": "AttendanceDate", "render": function (data) { return convertToDate(data); }
                    },
                    { "data": "AttendanceDay" },
                    { "data": "UserName" },
                    { "data": "NRIC" },
                    {
                        "data": "AttendanceStatusID", function(data) {
                            attendanceStatusID = data;
                            return data;
                        }
                    },
                    { "data": "AttendanceStatus" },
                    {
                        "data": "FirstIn", "render": function (data, type, row) {

                            var attendanceStatusID = row.AttendanceStatusID;

                            if (attendanceStatusID == 'LIN' || attendanceStatusID == 'L/E' || attendanceStatusID=='ICP') {
                                return '<span style="color:red">' + data + '</span>';
                            }
                            else {
                                return data;
                            }
                        }
                    },
                    { "data": "Lateness" },
                    {
                        "data": "LastOut", "render": function (data, type, row) {

                            var attendanceStatusID = row.AttendanceStatusID;

                            if (attendanceStatusID == 'EOT' || attendanceStatusID == 'L/E') {
                                return '<span style="color:red">' + data + '</span>';
                            }
                            else {
                                return  data;
                            }

                        }
                    },
                    { "data": "WorkTime" },
                    { "data": "Overtime" },
                    { "data": "ReasonID" },
                    {
                        "render": function (data, type, row, meta) {


                                if (row.Remark == '') {
                                    return row.ReasonName;
                                }
                                else {

                                    return row.ReasonName + "<br/>" + "[ " + row.Remark + " ]";
                                };


                            return '';

                        }
                    },
                    {
                      "data": "ReceivedOn", "render": function (data) { return convertToDate(data); }
                    },
                    {
                      "data": "ApprovalDueDate", "render": function (data) { return convertToDate(data); }
                    },
                    { "data": "IsApprovalDue" }
                ],
                columnDefs: [
                    { targets: 0, type: 'date-euro', className: 'text-center', width: '80px', orderable: true },
                    { targets: 1, className: 'text-center', width: '40px', orderable: true },
                    { targets: 2, className: 'text-left', width: '250px', orderable: true },
                    { targets: 3, className: 'text-left', width: '150px', orderable: true },
                    { targets: 4, className: 'text-center', width: '40px', orderable: true, visible: false },
                    { targets: 5, className: 'text-center', width: '120px', orderable: true },
                    { targets: 6, className: 'text-center', width: '50px', orderable: true },
                    { targets: 7, className: 'text-center', width: '50px', orderable: true, visible: false },
                    { targets: 8, className: 'text-center', width: '50px', orderable: true },
                    { targets: 9, className: 'text-center', width: '50px', orderable: true },
                    { targets: 10, className: 'text-center', width: '50px', orderable: true },
                    { targets: 11, className: 'text-center', width: '50px', orderable: true, visible: false },
                    { targets: 12, className: 'text-left', width: '150px', orderable: true },
                    { targets: 13, type: 'date-euro', className: 'text-center', width: '80px', orderable: true },
                    { targets: 14, type: 'date-euro', className: 'text-center', width: '80px', orderable: true, visible: false },
                    { targets: 15, className: 'text-center', width: '40px', orderable: true, visible: false }
                    ],
                    order: [[0, 'asc']]
            });
    };

    function initializeRejectedTable() {

        rejectedDatatable = $('#listRejectedDatatable').DataTable({
            //dom: '<"panel panel-default"<"panel-heading"<"row pt-2"<"col-md-12"f>><"row"<"col-md-2"B><"col-md-10 text-right"i>>>t<"panel-footer"<"row pt-2"<"col-md-6 text-left"l><"col-md-6 text-right"p>>>>',
            dom: '<"panel panel-default"<"panel-heading"<"row pt-2"<"col-md-12 d-flex justify-content-end text-left"f>><"row"<"col-md-2"B><"col-md-10 d-flex justify-content-end text-right"i>>>t<"panel-footer"<"row pt-1"<"col-md-4 d-flex justify-content-start text-left"l>"<"col-md-8 d-flex justify-content-end text-left"p>>>>',
            buttons:
                [
                ],
            autoWidth: false,
            scrollX: true,
            scrollY: true,
            language: {
                "lengthMenu": locale_lengthmenu,
                "zeroRecords": locale_norecord,
                "info": locale_info,
                "infoEmpty": locale_norecord,
                "infoFiltered": locale_infofiltered,
                "search": locale_search,
                "paginate": {
                    "first": locale_first,
                    "previous": locale_previous,
                    "next": locale_next,
                    "last": locale_last
                }
            },
            data: '',
            rowId: 'AttendanceDate',
            columns: [
                {
                    "data": "AttendanceDate", "render": function (data) { return convertToDate(data); }
                },
                { "data": "AttendanceDay" },
                { "data": "UserName" },
                { "data": "NRIC" },
                {
                    "data": "AttendanceStatusID", function(data) {
                        attendanceStatusID = data;
                        return data;
                    }
                },
                { "data": "AttendanceStatus" },
                {
                    "data": "FirstIn", "render": function (data, type, row) {

                        var attendanceStatusID = row.AttendanceStatusID;

                        if (attendanceStatusID == 'LIN' || attendanceStatusID == 'L/E' || attendanceStatusID == 'ICP') {
                            return '<span style="color:red">' + data + '</span>';
                        }
                        else {
                            return data;
                        }
                    }
                },
                { "data": "Lateness" },
                {
                    "data": "LastOut", "render": function (data, type, row) {

                        var attendanceStatusID = row.AttendanceStatusID;

                        if (attendanceStatusID == 'EOT' || attendanceStatusID == 'L/E') {
                            return '<span style="color:red">' + data + '</span>';
                        }
                        else {
                            return data;
                        }

                    }
                },
                { "data": "WorkTime" },
                { "data": "Overtime" },
                { "data": "ReasonID" },
                {
                    "render": function (data, type, row, meta) {


                            if (row.Remark == '') {
                                return row.ReasonName;
                            }
                            else {

                                return row.ReasonName + "<br/>" + "[ " + row.Remark + " ]";
                            };


                        return '';

                    }
                },
                {
                    "data": "ReceivedOn", "render": function (data) { return convertToDate(data); }
                },
                {
                    "data": "ApprovalDueDate", "render": function (data) { return convertToDate(data); }
                },
                { "data": "IsApprovalDue" }
            ],
            columnDefs: [
                { targets: 0, type: 'date-euro', className: 'text-center', width: '80px', orderable: true },
                { targets: 1, className: 'text-center', width: '40px', orderable: true },
                { targets: 2, className: 'text-left', width: '250px', orderable: true },
                { targets: 3, className: 'text-left', width: '150px', orderable: true },
                { targets: 4, className: 'text-center', width: '40px', orderable: true, visible: false },
                { targets: 5, className: 'text-center', width: '120px', orderable: true },
                { targets: 6, className: 'text-center', width: '50px', orderable: true },
                { targets: 7, className: 'text-center', width: '50px', orderable: true, visible: false },
                { targets: 8, className: 'text-center', width: '50px', orderable: true },
                { targets: 9, className: 'text-center', width: '50px', orderable: true},
                { targets: 10, className: 'text-center', width: '50px', orderable: true },
                { targets: 11, className: 'text-center', width: '50px', orderable: true, visible: false },
                { targets: 12, className: 'text-left', width: '150px', orderable: true },
                { targets: 13, type: 'date-euro', className: 'text-center', width: '80px', orderable: true },
                { targets: 14, type: 'date-euro', className: 'text-center', width: '80px', orderable: true, visible: false},
                { targets: 15, className: 'text-center', width: '40px', orderable: true, visible: false }
            ],
            order: [[0, 'asc']]
        });

    };

    function initializeRequestedToAmendTable() {

        requestedtoamendDatatable = $('#listRequestedToAmendDatatable').DataTable({
            //dom: '<"panel panel-default"<"panel-heading"<"row pt-2"<"col-md-12"f>><"row"<"col-md-2"B><"col-md-10 text-right"i>>>t<"panel-footer"<"row pt-2"<"col-md-6 text-left"l><"col-md-6 text-right"p>>>>',
            dom: '<"panel panel-default"<"panel-heading"<"row pt-2"<"col-md-12 d-flex justify-content-end text-left"f>><"row"<"col-md-2"B><"col-md-10 d-flex justify-content-end text-right"i>>>t<"panel-footer"<"row pt-1"<"col-md-4 d-flex justify-content-start text-left"l>"<"col-md-8 d-flex justify-content-end text-left"p>>>>',
            buttons:
                [
                ],
            autoWidth: false,
            scrollX: true,
            scrollY: true,
            language: {
                "lengthMenu": locale_lengthmenu,
                "zeroRecords": locale_norecord,
                "info": locale_info,
                "infoEmpty": locale_norecord,
                "infoFiltered": locale_infofiltered,
                "search": locale_search,
                "paginate": {
                    "first": locale_first,
                    "previous": locale_previous,
                    "next": locale_next,
                    "last": locale_last
                }
            },
            data: '',
            rowId: 'AttendanceDate',
            columns: [
                {
                    "data": "AttendanceDate", "render": function (data) { return convertToDate(data); }
                },
                { "data": "AttendanceDay" },
                { "data": "UserName" },
                { "data": "NRIC" },
                {
                    "data": "AttendanceStatusID", function(data) {
                        attendanceStatusID = data;
                        return data;
                    }
                },
                { "data": "AttendanceStatus" },
                {
                    "data": "FirstIn", "render": function (data, type, row) {

                        var attendanceStatusID = row.AttendanceStatusID;

                        if (attendanceStatusID == 'LIN' || attendanceStatusID == 'L/E' || attendanceStatusID == 'ICP') {
                            return '<span style="color:red">' + data + '</span>';
                        }
                        else {
                            return data;
                        }
                    }
                },
                { "data": "Lateness" },
                {
                    "data": "LastOut", "render": function (data, type, row) {

                        var attendanceStatusID = row.AttendanceStatusID;

                        if (attendanceStatusID == 'EOT' || attendanceStatusID == 'L/E') {
                            return '<span style="color:red">' + data + '</span>';
                        }
                        else {
                            return data;
                        }

                    }
                },
                { "data": "WorkTime" },
                { "data": "Overtime" },
                { "data": "ReasonID" },
                {
                    "render": function (data, type, row, meta) {


                            if (row.Remark == '') {
                                return row.ReasonName;
                            }
                            else {

                                return row.ReasonName + "<br/>" + "[ " + row.Remark + " ]";
                            };


                        return '';

                    }
                },
                {
                    "data": "ReceivedOn", "render": function (data) { return convertToDate(data); }
                },
                {
                    "data": "ApprovalDueDate", "render": function (data) { return convertToDate(data); }
                },
                { "data": "IsApprovalDue" }
            ],
            columnDefs: [
                { targets: 0, type: 'date-euro', className: 'text-center', width: '80px', orderable: true },
                { targets: 1, className: 'text-center', width: '40px', orderable: true },
                { targets: 2, className: 'text-left', width: '250px', orderable: true },
                { targets: 3, className: 'text-left', width: '150px', orderable: true },
                { targets: 4, className: 'text-center', width: '40px', orderable: true, visible: false },
                { targets: 5, className: 'text-center', width: '120px', orderable: true },
                { targets: 6, className: 'text-center', width: '50px', orderable: true },
                { targets: 7, className: 'text-center', width: '50px', orderable: true, visible: false },
                { targets: 8, className: 'text-center', width: '50px', orderable: true },
                { targets: 9, className: 'text-center', width: '50px', orderable: true },
                { targets: 10, className: 'text-center', width: '50px', orderable: true },
                { targets: 11, className: 'text-center', width: '50px', orderable: true, visible: false },
                { targets: 12, className: 'text-left', width: '150px', orderable: true },
                { targets: 13, type: 'date-euro', className: 'text-center', width: '80px', orderable: true },
                { targets: 14, type: 'date-euro', className: 'text-center', width: '80px', orderable: true, visible: false },
                { targets: 15, className: 'text-center', width: '40px', orderable: true, visible: false }
              ],
                order: [[0, 'asc']]
        });

        };

        function GeneratePendingList() {

            var startDate = $("#ddlMonthYear option:selected").val();
            var departmentID = $("#ddlDepartment option:selected").val();


                    $.ajax({
                        datatype: 'text/plain',
                        type: 'GET',
                        url: 'ReasonApproval/GetPendingReasonList',
                        data: { startDate: startDate, departmentID: departmentID },
                        cache: false,
                        dataType: "json",
                        success: function (data) {

                            if (data != '') {
                                pendingDatatable.clear().rows.add(data).draw(false);

                                var approvalDueDate = document.getElementById('ApprovalDueDate');
                                approvalDueDate.innerHTML = '@MyTime.Resource.ApprovalDueDate' + ' : ' + convertToDate(pendingDatatable.cell(0, 17).data());

                            }
                            else {
                                pendingDatatable.clear().draw(false);
                            }

                            var totalPending = document.getElementById('TotalPending');
                            totalPending.innerHTML = pendingDatatable.rows().count();

                            $('#ddlMonthYear').prop('disabled', true);
                            $('#ddlDepartment').prop('disabled', true);
                            $('#btnGenerate').prop('disabled', true);
                            $('#btnReset').prop('disabled', false);
                            $('#btnPrint').prop('disabled', false);

                            GenerateApprovedList();


                        }

                    });
        };

     function GenerateApprovedList() {

            $.ajax({
                datatype: 'text/plain',
                type: 'GET',
                url: 'ReasonApproval/GetApprovedReasonList',
                data: '',
                cache: false,
                dataType: "json",
                success: function (data) {

                    if (data != '') {
                        approvedDatatable.clear().rows.add(data).draw(false);
                        }
                    else {
                        approvedDatatable.clear().draw(false);
                    }

                    var totalApproved = document.getElementById('TotalApproved');
                    totalApproved.innerHTML = approvedDatatable.rows().count();

                    GenerateRejectedList();


                }
            });
    };

    function GenerateRejectedList() {

        $.ajax({
            datatype: 'text/plain',
            type: 'GET',
            url: 'ReasonApproval/GetRejectedReasonList',
            data: '',
            cache: false,
            dataType: "json",
            success: function (data) {

                if (data != '') {
                    rejectedDatatable.clear().rows.add(data).draw(false);
                }
                else {
                    rejectedDatatable.clear().draw(false);
                }

                var totalRejected = document.getElementById('TotalRejected');
                totalRejected.innerHTML = rejectedDatatable.rows().count();

                GenerateRequestedToAmendList();


            }
        });
    };

    function GenerateRequestedToAmendList() {

        $.ajax({
            datatype: 'text/plain',
            type: 'GET',
            url: 'ReasonApproval/GetRequestedToAmendReasonList',
            data: '',
            cache: false,
            dataType: "json",
            success: function (data) {



                if (data != '') {
                    requestedtoamendDatatable.clear().rows.add(data).draw(false);
                }
                else {
                    requestedtoamendDatatable.clear().draw(false);
                }

                var totalRequestedToAmend = document.getElementById('TotalRequestedToAmend');
                totalRequestedToAmend.innerHTML = requestedtoamendDatatable.rows().count();


            }
        });
    };


    function ApproveReasonProcess(rowIndex) {

        var selectedRow = pendingDatatable.row(rowIndex).data();

        var dte = new Date(parseInt(selectedRow.AttendanceDate.substr(6)));
        var AttendanceDate = moment(dte).format('YYYY-MM-DD');
        var AttendanceDay = selectedRow.AttendanceDay;
        var UserName = selectedRow.UserName;
        var NRIC = selectedRow.NRIC;
        var AttendanceStatusID = selectedRow.AttendanceStatusID;
        var AttendanceStatus = selectedRow.AttendanceStatus;
        var FirstIn = selectedRow.FirstIn;
        var Lateness = selectedRow.Lateness;
        var LastOut = selectedRow.LastOut;
        var WorkTime = selectedRow.WorkTime;
        var Overtime = selectedRow.Overtime;
        var ReasonID = selectedRow.ReasonID;
        var ReasonName = selectedRow.ReasonName;
        var Remark = selectedRow.Remark;

        var rowData = AttendanceDate;
        rowData += '#' + AttendanceDay;
        rowData += '#' + UserName;
        rowData += '#' + NRIC;
        rowData += '#' + AttendanceStatusID;
        rowData += '#' + AttendanceStatus;
        rowData += '#' + FirstIn;
        rowData += '#' + Lateness;
        rowData += '#' + LastOut;
        rowData += '#' + WorkTime;
        rowData += '#' + Overtime;
        rowData += '#' + ReasonID;
        rowData += '#' + ReasonName;
        rowData += '#' + Remark;

        document.getElementById('pid').value = 'update';

        loadDivCRUD();

        $.ajax({
            datatype: 'text/plain',
            type: 'GET',
            url: 'ReasonApproval/_ApproveReason',
            data: { rowData : rowData },
            cache: false,
            success: function (data) {

                $('#divCRUD').html(data);

                $('#btnCancel').on('click', function () {
                    unloadDivCRUD();
                });
            }
        });

        };

    function RejectReasonProcess(rowIndex) {

        var selectedRow = pendingDatatable.row(rowIndex).data();

        var dte = new Date(parseInt(selectedRow.AttendanceDate.substr(6)));
        var AttendanceDate = moment(dte).format('YYYY-MM-DD');
        var AttendanceDay = selectedRow.AttendanceDay;
        var UserName = selectedRow.UserName;
        var NRIC = selectedRow.NRIC;
        var AttendanceStatusID = selectedRow.AttendanceStatusID;
        var AttendanceStatus = selectedRow.AttendanceStatus;
        var FirstIn = selectedRow.FirstIn;
        var Lateness = selectedRow.Lateness;
        var LastOut = selectedRow.LastOut;
        var WorkTime = selectedRow.WorkTime;
        var Overtime = selectedRow.Overtime;
        var ReasonID = selectedRow.ReasonID;
        var ReasonName = selectedRow.ReasonName;
        var Remark = selectedRow.Remark;

        var rowData = AttendanceDate;
        rowData += '#' + AttendanceDay;
        rowData += '#' + UserName;
        rowData += '#' + NRIC;
        rowData += '#' + AttendanceStatusID;
        rowData += '#' + AttendanceStatus;
        rowData += '#' + FirstIn;
        rowData += '#' + Lateness;
        rowData += '#' + LastOut;
        rowData += '#' + WorkTime;
        rowData += '#' + Overtime;
        rowData += '#' + ReasonID;
        rowData += '#' + ReasonName;
        rowData += '#' + Remark;

        document.getElementById('pid').value = 'update';

        loadDivCRUD();

        $.ajax({
            datatype: 'text/plain',
            type: 'GET',
            url: 'ReasonApproval/_RejectReason',
            data: { rowData: rowData },
            cache: false,
            success: function (data) {

                $('#divCRUD').html(data);

                $('#btnCancel').on('click', function () {
                    unloadDivCRUD();
                });
            }
        });

        };

    function RequestToAmendProcess(rowIndex) {

        var selectedRow = pendingDatatable.row(rowIndex).data();

        var dte = new Date(parseInt(selectedRow.AttendanceDate.substr(6)));
        var AttendanceDate = moment(dte).format('YYYY-MM-DD');
        var AttendanceDay = selectedRow.AttendanceDay;
        var UserName = selectedRow.UserName;
        var NRIC = selectedRow.NRIC;
        var AttendanceStatusID = selectedRow.AttendanceStatusID;
        var AttendanceStatus = selectedRow.AttendanceStatus;
        var FirstIn = selectedRow.FirstIn;
        var Lateness = selectedRow.Lateness;
        var LastOut = selectedRow.LastOut;
        var WorkTime = selectedRow.WorkTime;
        var Overtime = selectedRow.Overtime;
        var ReasonID = selectedRow.ReasonID;
        var ReasonName = selectedRow.ReasonName;
        var Remark = selectedRow.Remark;

        var rowData = AttendanceDate;
        rowData += '#' + AttendanceDay;
        rowData += '#' + UserName;
        rowData += '#' + NRIC;
        rowData += '#' + AttendanceStatusID;
        rowData += '#' + AttendanceStatus;
        rowData += '#' + FirstIn;
        rowData += '#' + Lateness;
        rowData += '#' + LastOut;
        rowData += '#' + WorkTime;
        rowData += '#' + Overtime;
        rowData += '#' + ReasonID;
        rowData += '#' + ReasonName;
        rowData += '#' + Remark;

        document.getElementById('pid').value = 'update';

        loadDivCRUD();

        $.ajax({
            datatype: 'text/plain',
            type: 'GET',
            url: 'ReasonApproval/_RequestToAmendReason',
            data: { rowData: rowData },
            cache: false,
            success: function (data) {

                $('#divCRUD').html(data);

                $('#btnCancel').on('click', function () {
                    unloadDivCRUD();
                });
            }
        });

    };




    function onSuccessProcess(result, status, xhr) {

        if (result.status == 1) {

            unloadSpinner();
            unloadDivCRUD();

            GeneratePendingList();
            //GenerateApprovedList();
            //GenerateRejectedList();
            //GenerateRequestedToAmendList();


            var messageString = '';


            switch (document.getElementById('pid').value) {


                    case 'update':
                         messageString  = '@MyTime.Resource.MessageSuccessUpdate';
                         break;

                    default:
                         messageString  = '@MyTime.Resource.MessageSuccessUpdate';
                         break;
            }


                bootbox.alert({
                    title: '@MyTime.Resource.MessageInfo',
                    message: messageString,

                    backdrop: true,
                    buttons: {
                                ok: {
                                  className:'btn-primary',
                                  label: ' @MyTime.Resource.Close'
                        }
                    },
                    callback: function () {
                    }
                });

            }
            else {
                $('#btnCancel').on('click', function () {
                    unloadDivCRUD();
                });
            }

        };
    </script>
}





